<!--Conversionry - Add collection filter tooltip 030922-->
<div class="hidden_task show-test_145">
	<filter-tooltip class="filter-tooltip-wrapper">
		<button class="filter-tooltip-close" type="button">
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.9681 0.5C11.9681 0.636 11.921 0.7552 11.8277 0.8592L6.68539 6L11.8277 11.1408C11.921 11.2456 11.9681 11.3648 11.9681 11.5C11.9681 11.636 11.921 11.7552 11.8277 11.8592C11.7758 11.9016 11.7184 11.9352 11.6561 11.9608C11.5939 11.9872 11.5317 12 11.4694 12C11.4072 12 11.345 11.9872 11.2827 11.9608C11.2205 11.9352 11.1631 11.9016 11.1112 11.8592L5.98405 6.7032L0.856916 11.8592C0.805055 11.9016 0.747608 11.9352 0.685373 11.9608C0.623139 11.9872 0.560905 12 0.498671 12C0.436437 12 0.374203 11.9872 0.311969 11.9608C0.249734 11.9352 0.192287 11.9016 0.140426 11.8592C0.0470743 11.7552 0 11.636 0 11.5C0 11.3648 0.0470743 11.2456 0.140426 11.1408L5.28272 6L0.140426 0.8592C0.0470743 0.7552 0 0.636 0 0.5C0 0.3648 0.0470743 0.2456 0.140426 0.1408C0.244149 0.0471997 0.363831 0 0.498671 0C0.633512 0 0.753193 0.0471997 0.856916 0.1408L5.98405 5.2968L11.1112 0.1408C11.2149 0.0471997 11.3346 0 11.4694 0C11.6043 0 11.724 0.0471997 11.8277 0.1408C11.921 0.2448 11.9681 0.3648 11.9681 0.5Z" fill="#141414"/>
			</svg>
		</button>

		<div class="filter-tooltip-content-wrapper">
			<div class="filter-tooltip-title">Can’t find what you are looking for?</div>
			<div class="filter-tooltip-content desktop-content">
				Try a <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.8732 9.1268L3.1232 7.3768C3.0413 7.2858 3 7.1808 3 7.0625C3 6.9442 3.0413 6.8392 3.1232 6.7482C3.2142 6.6663 3.3192 6.625 3.4375 6.625C3.5558 6.625 3.6608 6.6663 3.7518 6.7482L5.1875 8.1972L9.2482 4.1232C9.3392 4.0413 9.4442 4 9.5625 4C9.6808 4 9.7858 4.0413 9.8768 4.1232C9.9587 4.2142 10 4.3192 10 4.4375C10 4.5558 9.9587 4.6608 9.8768 4.7518L5.5018 9.1268C5.4563 9.1632 5.4059 9.1933 5.3513 9.2157C5.2967 9.2388 5.2421 9.25 5.1875 9.25C5.1329 9.25 5.0783 9.2388 5.0237 9.2157C4.9691 9.1926 4.9194 9.1632 4.8732 9.1268Z" fill="#141414"/>
					<rect x="0.5" y="0.5" width="13" height="13" stroke="black"/>
				</svg> COLLECTION filter to refine your search
			</div>
			<div class="filter-tooltip-content mobile-content">
				Tap
				‘<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.6592 0C11.781 0 11.8862 0.0455225 11.9756 0.1344C12.065 0.224 12.1096 0.330219 12.1096 0.451613V2.25806C12.1096 2.31443 12.1003 2.36862 12.0815 2.42065C12.0628 2.47267 12.0347 2.51747 11.9972 2.55505L8.05593 6.944V11.7427C8.05593 11.8178 8.03719 11.8886 7.99972 11.9544C7.96224 12.0209 7.9154 12.0772 7.85919 12.1235L5.15672 13.9299C5.11924 13.9487 5.07961 13.9653 5.03709 13.979C4.99457 13.9928 4.94989 14 4.90304 14C4.86557 14 4.8281 13.9949 4.79062 13.9855C4.75315 13.9762 4.72 13.9624 4.69189 13.9429C4.61694 13.9053 4.55785 13.8511 4.51605 13.7803C4.47425 13.7095 4.45263 13.6322 4.45263 13.5477V6.94328L0.511349 2.55432C0.473874 2.51675 0.445769 2.47267 0.427032 2.41992C0.408294 2.36862 0.398926 2.31443 0.398926 2.25806V0.451613C0.398926 0.329497 0.443607 0.224 0.532968 0.1344C0.62233 0.0455225 0.727546 0 0.849337 0H11.6592ZM11.2088 2.08826V0.903226H1.29975V2.08898L5.24103 6.47794C5.27851 6.51623 5.30661 6.56031 5.32535 6.61234C5.34409 6.66436 5.35346 6.71783 5.35346 6.77492V12.7022L7.1551 11.5028V6.77492C7.1551 6.71855 7.16447 6.66508 7.18321 6.61234C7.20195 6.56103 7.23005 6.51623 7.26753 6.47794L11.2088 2.08826Z" fill="#141414"/>
				</svg>
				SHOW FILTER’ to refine your search
			</div>
		</div>
	</filter-tooltip>
</div>