<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="{CDNURL}/ebay/css/gameo-bootstrap.css?noless"/>
		<link rel="stylesheet" type="text/css" href="{CDNURL}/ebay/css/gameo-bootstrap-theme.css?noless"/>
		<link rel="stylesheet" type="text/css" href="{CDNURL}/ebay/css/gameo-style.css?noless&v=4"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700" rel="stylesheet"> 
		<!--[if lt IE 9]>
		<![endif]-->
		<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="{CDNURL}/ebay/css/style-ie8.css" />
		<![endif]-->
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="{CDNURL}/ebay/css/style-ie7.css" />
		<![endif]-->
		<title>{title}</title>
        <style>
			.header-top .header-top-menu li a.home_menu {
				color:#000;
			}
			.header-content .header-right a.message{
				color:#000;
			}
			.header-content , .header-top{
				background-color: #fff;
			}
			.header-right .logo-content{
				width: 100px;
			}
			.header-bottom{
				background: #000;
    			height: 5px;
			}
			.product-shop-container{
				margin-top: 25px;
			}
			.product-shop-container .trus-meker{
				padding: 25px 0;
			}
			.product-shop-container.info-section .trus-meker{
				border: none;
    			border-bottom: none;	
			}
			.product-shop-container.info-section .info-list .image-span{
				width: 80px;
			}
			.product-shop-container.info-section .trus-meker ul.info-box li{
				margin:10px 0;
			}
			.wrappage .footer{
				background: #fff;
			}
			.footer-bottom-content {
				background: #fff;
			}
			.footer-right .box-footer:last-child li a ,.footer-right .box-footer h4 , .footer-right .box-footer .footer__section ,.footer-right .box-footer .footer__section span a , .footer-right .box-footer .footer__section #footer-find-us-table ,.footer-right .box-footer .footer__section .footer__section-head h5{
				color: #000;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div class="wrappage">
			<!-- Start header container -->
            <div class="header-bottom"></div>
			<div class="header-container">
				<div class="header-top">
					<div class="container">
						<div class="header-top-menu">
							<ul>
    							<li><a href="https://stores.ebay.com.au/Gameology-Study-of-Games" title="Home" class="home_menu" target="_blank">Home</a></li>
    						</ul>
    					</div>
					</div>
				</div>
				<div class="header-content">
					<div class="container">
						<div class="header-right">
							<a class="logo-content" href="https://stores.ebay.com.au/Gameology-Study-of-Games" title="Home" target="_blank"><img src="https://i.ebayimg.com/images/g/VSgAAOSwPsNjYwvE/s-l140.webp" alt=""></a>			
						<div class="header-right-text">
							<div class="info contact-us">
								<div class="call-us">
										<span><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/icons8-email-48_32x32.png?v=1705877808" title="Contact Us" alt="Contact Us" target="_blank"></span>
									<p>
    									<a class="message" href="https://contact.ebay.com.au/ws/eBayISAPI.dll?FindAnswers&amp;frm=284&amp;requested=gameologyaus" title="Send Us A Message" target="_blank">Send Us A Message</a>
    								</p>
								</div>
								</div>
									<div class="favourites">
										<span><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/icons8-heart-48_32x32.png?v=1705877836" title="Favourites" alt="Favourites" target="_blank"></span>
    									<p><a class="message" href="https://my.ebay.com.au/ws/eBayISAPI.dll?AcceptSavedSeller&amp;linkname=includefavoritestore&amp;sellerid=gameologyaus" title="Favourites" target="_blank">Add To Favourites</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            <!-- end header container -->
			<div class="header-bottom"></div>
			<!-- Start Main Container -->
			<div class="main-container">
				<!-- Start product-detail-container -->
				<div class="product-detail-container">
					<div class="container">
						<!-- Start product-detail-content -->
						<div class="product-detail-content">
							<div class="product-shop-container">
								<!-- Start product-view-name-sku -->
								<div class="product-view-name-sku">
									<h2 class="product-view-name">{title}</h2>
								</div>
								<!-- End product-view-name-sku -->
								<div class="product-price">
									<!-- <p class="stock">In Stock</p> -->
								</div>
							</div>
							<!-- End product-shop-container -->
							<!-- Start box-images-details -->
							<div class="box-images-details">
						       <div class="slider">
						        <div class="grid-wrapper">
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         <div class="grid-item"></div>
						         {for AllEnabledImages step=12}
									<div class="grid-content">
										{for AllEnabledImages} <input name="slide_switch"
											id="id{position}" value="{AllEnabledImages.url}" type="radio">
											<label for="id{position}"> <span><img
													src="{AllEnabledImages.url}&width=200&height=200"
													alt="{title}" /></span>
										</label>
											<div class="img-details">
												<p>
													<img src="{AllEnabledImages.url}" alt="{title}" />
												</p>
											</div> {/for} 
									</div>
									{/for}
						        </div>
						       </div>
						       <!--end-slider-->
						      </div>
						      <!-- end box-images-details -->
							<!-- end box-images-details --> 
                            <div class="product-shop-container">
								<div class="trus-meker">
									<ul class="info-box">
										<li>
											<div class="info-list">
												<span><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/icons8-warehouse-50_32x32.png?v=1705878352" alt="Australiaâs largest"></span>
    											<p>Australia's largest<br> gaming warehouse</p>
    										</div>
										</li>
										<li>
											<div class="info-list">
												<span><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/icons8-low-price-50_32x32.png?v=1705878359" alt="Australiaâs lowest prices!"></span>
    											<p>Australia's lowest prices!<br> <span>We offer the best price!</span></p>
    										</div>
    									</li>
    								</ul>
    							</div>
							</div>
							<div class="product-shop-container info-section ">
								<div class="trus-meker">
    								<ul class="info-box">
    									<li>
    										<div class="info-list">
      											<span class="image-span"><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Service-Icon.png?v=1717386238" alt="Australiaâs largest"></span>
												<p><strong>$10 FLAT RATE SHIPPING</strong><br> AUSTRALIA WIDE</p>
											</div>
										</li>
										<li>
											<div class="info-list">
    											<span class="image-span"><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Service-Icon.png?v=1717386238" alt="Australiaâs lowest prices!"></span>
    											<p><strong>LOCAL SERVICE TEAM</strong><br> <span>(03) 9066 6040 MON-FRI</span></p>
											</div>
										</li>
										<li>
											<div class="info-list">
    											<span class="image-span" ><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/PiggyBank-Icon.png?v=1717386238" alt="Australiaâs largest"></span>
    											<p><strong>BUY NOW, PAY LATER </strong><br> WITH AFTERPAY, PAYPAL AND ZIP PAY</p>
											</div>
										</li>
										<li>
											<div class="info-list">
    											<span class="image-span"><img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Delivery-Icon.png?v=1717386238" alt="Australiaâs lowest prices!"></span>
    											<p><strong>WEEKLY EVENTS</strong><br> <span>LOCAL TCG EVENT & REGULER SALES</span></p>
    										</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
							<!-- End product-shop-container -->
					</div>
						<!-- End product-detail-content -->
				</div>
			</div>
				<!-- End product-detail-container -->
			<div class="tabs">
				<div class="container">
					<main>
						<input id="tab1" type="radio" name="tabs" checked>
						<label for="tab1"><span>DeScription</span></label>
						<section id="content1">
							{description}
						</section>
					</main>
					<!--end-tab-->
				</div>
			</div>
			<!-- End Main Container -->
			<!-- Start footer -->
            <div class="header-bottom"></div>
            <div class="footer">
				<div class="footer-bottom">
					<div class="container">
						<div class="footer-bottom-content">
							<div class="footer-left">
								<div class="box-footer">
									<a class="logo-footer" href="https://stores.ebay.com.au/Gameology-Study-of-Games" title="Home" target="_blank"><img src="https://i.ebayimg.com/images/g/VSgAAOSwPsNjYwvE/s-l140.webp" alt="Home"></a>
    							</div>
							</div>
							<div class="footer-right">
								<div class="box-footer">
    									<h4>FIND US</h4>
									<div class="footer__section" >
										<div class="footer__section-head"  >
    										<h5 class="py-10 py-lg-0 mb-0 mb-lg-10 text-uppercase">STORE LOCATIONS &amp; HOURS</h5>
										</div>
										<div class="footer__section-content footer__section-content--custom-content d-none d-lg-block" >
											<div class="d-flex flex-column align-items-center pt-10 pt-lg-0 pb-15 pb-lg-0">
												<table id="footer-find-us-table">
													<tbody>
														<tr>
															<td>12 Eileen Rd<br>Clayton South<br>VIC 3169, Australia<br>
																<span >
																<strong>
																	<a href="https://g.page/gameologyau?share" title="Gameology Map Link 12 Eileen Road Clayton South">Map link</a>
    															</strong>
    															</span>
    														</td>
														</tr>
														<tr>
															<td style="vertical-align: top; width: 50px;">
																<select name="" id="" style="color:#000"> 
																<option value="">Opening Hours </option> 
																<option value="">Mon-Tues: 10:30am - 5pm </option> 
																<option value="">Wed-Thurs: 10:30am - 9:30pm</option> 
																<option value="">Fri: 10:30am - 10pm</option> 
																<option value="">Sat-Sun: 12pm - 5pm</option> 
    															</select>
    															<a href="https://www.gameology.com.au/pages/public-holiday-opening-hours" class="btn-link">Public Holiday Hours</a>
    														</td>
    													</tr>
    												</tbody>
    											</table>
											</div>
											<br>
											<div class="d-flex flex-column align-items-center pt-10 pt-lg-0 pb-15 pb-lg-0">
												<table id="footer-find-us-table" >
													<tbody>
														<tr>
  															<td>36 Hope St<br>Brunswick<br>VIC 3056, Australia<br><span ><strong><a href="https://goo.gl/maps/VE1TfmaG9ospmKVW7" title="Gameology Brunswick 36 Hope Street">Map link</a> </strong></span>
    														</td>
    													</tr>
														<tr>
															<td style="vertical-align: top;">
																<select name="" id="" style="color:#000"> 
																<option value="">Opening Hours </option> 
																<option value="">Mon: Closed</option> 
																<option value="">Tues: 10:30am - 5pm</option> 
																<option value="">Wed-Thurs: 12:30pm - 9:30pm</option> 
																<option value="">Fri: 12:30pm - 10pm</option> 
																<option value="">Sat-Sun: 10:30am - 5pm</option> 
  																</select>
																</br>
    															<a href="https://www.gameology.com.au/pages/public-holiday-opening-hours" class="btn-link">Public Holiday Hours</a>
    														</td>
    													</tr>
    												</tbody>
    											</table>
    										</div>
    									</div>
									</div>
								</div>
								<div class="box-footer">
									<h4>Customer Service</h4>
									<ul>
										<li><a href="https://stores.ebay.com.au/Gameology-Study-of-Games/about-us" title="About Us" target="_blank">About Us</a></li>
    									<li><a href="https://stores.ebay.com.au/Gameology-Study-of-Games/contact-us" title="Contact Us" target="_blank">Contact Us</a></li>
    								</ul>
    							</div>
    						</div>
        				</div>
    				</div>
    			</div>
			</div>
			<!-- end -->
			<div class="footer-copy">
				<div class="container">
				<div class="footer-copy-left">
    				</div>
					<div class="footer-copy-right">
						<p>Copyright 2024 Gameology. All right reserved.</p>
        				<p><img alt="rainstorm" src="https://cloud.ecomclients.com/logo-rainstormstudio.png"></p>
        			</div>
    			</div>
			</div>
			<!-- END footer -->
		</div>
		<!-- End pagewidth -->
	</body>
</html>	