<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
<style>.size-container{-webkit-font-smoothing:antialiased;font-family:'Rubik',sans-serif;line-height:1.5;color:#424876;width:100%;border:0;margin:auto;border-radius:4px;height:540px}.size-container *{box-sizing:border-box}.size-container h1{font-size:30px;font-weight:500;color:#21285e;margin:0;padding-top:10px;padding-bottom:10px}.size-container p{margin:0;font-size:14px}.top-logo-container{text-align:center;width:100%;padding-top:30px}.top-logo-container img{width:170px}.zip-terms{font-size:12px!important;text-align:center;max-width:600px}.terms-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-top:10px;padding-bottom:50px}.info-snippet-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-width:200px;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-right:25px;margin-left:25px}.usp-text-container,.usp-img-container{width:100%;text-align:center}.usp-img-container img{width:38px}.footer-img-container{height:20px}.footer-img-container img{height:100%}.usp-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-top:60px;padding-bottom:80px}.flex-row-centered{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.zm-icon{margin-right:6px}.usp-text{font-size:18px;font-weight:400}.text-bold{font-weight:500}.margin-right-1{margin-right:24px}@media (max-width:530px){.usp-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:40px;padding-bottom:40px}.info-snippet-container{flex-direction:row;padding-bottom:36px;margin-left:20px;margin-right:20px;max-width:400px}.usp-text-container,.usp-img-container{width:auto;text-align:left}.usp-img-container{margin-right:12px;margin-top:18px}.usp-img-container img{width:32px}.size-container h1{font-size:30px}.size-container p{font-size:14px}.usp-icon-container{width:36px}.usp-text{font-size:14px;display:inline}.zip-terms br{display:none}}</style>

<div class="laybuy__popup__bg"></div>
<div class="laybuy__popup__overlay">
	<div class="size-container">
	    <div class="top-logo-container padding-top-1">
	        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0921/7330/files/BNPL_laybuy.png?v=1649747145" alt="laybuy logo">
	    </div>

	    <div class="usp-container">
	        <div class="info-snippet-container">
	            <div class="usp-text-container">
	                <div class="usp-text text-bold">Account Limit: </div>
                  	<div class="usp-text">Up to $1,200</div>
	            </div>
	        </div>    
          	<div class="info-snippet-container">
              	<div class="usp-text-container">
	                <div class="usp-text text-bold">Minimum Purchase: </div>
                  	<div class="usp-text">$120</div>
	            </div>
	        </div>
            <div class="info-snippet-container">
                  <div class="usp-text-container">
                      <div class="usp-text text-bold">Interest Free Period: </div>
                      <div class="usp-text">Always interest free</div>
                  </div>
            </div> 
            <div class="info-snippet-container">
                  <div class="usp-text-container">
                      <div class="usp-text text-bold">Set Up Fee: </div>
                      <div class="usp-text">No set up fee</div>
                  </div>
            </div>
            <div class="info-snippet-container">
                  <div class="usp-text-container">
                      <div class="usp-text text-bold">Minimum Repayments: </div>
                      <div class="usp-text">Your owing balance divided by 6</div>
                  </div>
            </div>
            <div class="info-snippet-container">
                  <div class="usp-text-container">
                      <div class="usp-text text-bold">Payment Frequency: </div>
                      <div class="usp-text">Only weekly</div>
                  </div>
            </div>
          	<div class="info-snippet-container">
                  <div class="usp-text-container">
                      <div class="usp-text text-bold">Account Fee: </div>
                      <div class="usp-text">No account fee</div>
                  </div>
            </div>
          	<div class="info-snippet-container">
                  <div class="usp-text-container">
                      <div class="usp-text text-bold">Late Fee: </div>
                      <div class="usp-text">Learn more about Laybuy late fees <a href="https://www.laybuy.com/au/consumer-terms" target="_blank" style="color:red;">here</a></div>
                  </div>
            </div>
          	<div class="info-snippet-container">
                  <div class="usp-text-container">
                  	  <div class="usp-text text-bold">*Gift cards are unavailable to purchase with Lay Buy.</div>
              	  </div>
            </div>
	    </div>
	</div>
	<img class="laybuy-close-button" src="https://d2f9o9wxwalx4m.cloudfront.net/assets/images/delete.png">
</div>
<style>
  .usp-text-container {
  	text-align: center !important;
  }
  .laybuy-popup-open {
	overflow:hidden
  }
  .laybuy-popup-open .laybuy__popup__bg,.laybuy-popup-open .laybuy__popup__overlay {
      display:block
  }
  .laybuy__popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9998;
    background: rgba(0,0,0,.35);
    animation: overlay-fade-in .5s cubic-bezier(.165,.84,.44,1) forwards;
    display: none;
  }
  .laybuy__popup__overlay {
/*     width: 78%; */
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    border-radius: 0;
    animation: popup-show-up-mobile .5s cubic-bezier(.165,.84,.44,1) forwards;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 30%);
    background-color: #fff;
    padding: 8px 8px 80px 8px;
    overflow: auto;
    display: none;
  }
  .laybuy__popup__overlay .laybuy-close-button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
</style>
