<div class="payment-table-bg payment-options__popup__bg payment-table-bg"></div>
<div class="payment-table payment-options__popup__overlay">
	<table class="table-payment">
		<tr>
			<td>Payment Options</td>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="124px" height="33px" viewBox="0 0 124 33" enable-background="new 0 0 124 33" xml:space="preserve">
                <path fill="#253B80" d="M46.211,6.749h-6.839c-0.468,0-0.866,0.34-0.939,0.802l-2.766,17.537c-0.055,0.346,0.213,0.658,0.564,0.658  h3.265c0.468,0,0.866-0.34,0.939-0.803l0.746-4.73c0.072-0.463,0.471-0.803,0.938-0.803h2.165c4.505,0,7.105-2.18,7.784-6.5  c0.306-1.89,0.013-3.375-0.872-4.415C50.224,7.353,48.5,6.749,46.211,6.749z M47,13.154c-0.374,2.454-2.249,2.454-4.062,2.454  h-1.032l0.724-4.583c0.043-0.277,0.283-0.481,0.563-0.481h0.473c1.235,0,2.4,0,3.002,0.704C47.027,11.668,47.137,12.292,47,13.154z"/>
                <path fill="#253B80" d="M66.654,13.075h-3.275c-0.279,0-0.52,0.204-0.563,0.481l-0.145,0.916l-0.229-0.332  c-0.709-1.029-2.29-1.373-3.868-1.373c-3.619,0-6.71,2.741-7.312,6.586c-0.313,1.918,0.132,3.752,1.22,5.031  c0.998,1.176,2.426,1.666,4.125,1.666c2.916,0,4.533-1.875,4.533-1.875l-0.146,0.91c-0.055,0.348,0.213,0.66,0.562,0.66h2.95  c0.469,0,0.865-0.34,0.939-0.803l1.77-11.209C67.271,13.388,67.004,13.075,66.654,13.075z M62.089,19.449  c-0.316,1.871-1.801,3.127-3.695,3.127c-0.951,0-1.711-0.305-2.199-0.883c-0.484-0.574-0.668-1.391-0.514-2.301  c0.295-1.855,1.805-3.152,3.67-3.152c0.93,0,1.686,0.309,2.184,0.892C62.034,17.721,62.232,18.543,62.089,19.449z"/>
                <path fill="#253B80" d="M84.096,13.075h-3.291c-0.314,0-0.609,0.156-0.787,0.417l-4.539,6.686l-1.924-6.425  c-0.121-0.402-0.492-0.678-0.912-0.678h-3.234c-0.393,0-0.666,0.384-0.541,0.754l3.625,10.638l-3.408,4.811  c-0.268,0.379,0.002,0.9,0.465,0.9h3.287c0.312,0,0.604-0.152,0.781-0.408L84.564,13.97C84.826,13.592,84.557,13.075,84.096,13.075z  "/>
                <path fill="#179BD7" d="M94.992,6.749h-6.84c-0.467,0-0.865,0.34-0.938,0.802l-2.766,17.537c-0.055,0.346,0.213,0.658,0.562,0.658  h3.51c0.326,0,0.605-0.238,0.656-0.562l0.785-4.971c0.072-0.463,0.471-0.803,0.938-0.803h2.164c4.506,0,7.105-2.18,7.785-6.5  c0.307-1.89,0.012-3.375-0.873-4.415C99.004,7.353,97.281,6.749,94.992,6.749z M95.781,13.154c-0.373,2.454-2.248,2.454-4.062,2.454  h-1.031l0.725-4.583c0.043-0.277,0.281-0.481,0.562-0.481h0.473c1.234,0,2.4,0,3.002,0.704  C95.809,11.668,95.918,12.292,95.781,13.154z"/>
                <path fill="#179BD7" d="M115.434,13.075h-3.273c-0.281,0-0.52,0.204-0.562,0.481l-0.145,0.916l-0.23-0.332  c-0.709-1.029-2.289-1.373-3.867-1.373c-3.619,0-6.709,2.741-7.311,6.586c-0.312,1.918,0.131,3.752,1.219,5.031  c1,1.176,2.426,1.666,4.125,1.666c2.916,0,4.533-1.875,4.533-1.875l-0.146,0.91c-0.055,0.348,0.213,0.66,0.564,0.66h2.949  c0.467,0,0.865-0.34,0.938-0.803l1.771-11.209C116.053,13.388,115.785,13.075,115.434,13.075z M110.869,19.449  c-0.314,1.871-1.801,3.127-3.695,3.127c-0.949,0-1.711-0.305-2.199-0.883c-0.484-0.574-0.666-1.391-0.514-2.301  c0.297-1.855,1.805-3.152,3.67-3.152c0.93,0,1.686,0.309,2.184,0.892C110.816,17.721,111.014,18.543,110.869,19.449z"/>
                <path fill="#179BD7" d="M119.295,7.23l-2.807,17.858c-0.055,0.346,0.213,0.658,0.562,0.658h2.822c0.469,0,0.867-0.34,0.939-0.803  l2.768-17.536c0.055-0.346-0.213-0.659-0.562-0.659h-3.16C119.578,6.749,119.338,6.953,119.295,7.23z"/>
                <path fill="#253B80" d="M7.266,29.154l0.523-3.322l-1.165-0.027H1.061L4.927,1.292C4.939,1.218,4.978,1.149,5.035,1.1  c0.057-0.049,0.13-0.076,0.206-0.076h9.38c3.114,0,5.263,0.648,6.385,1.927c0.526,0.6,0.861,1.227,1.023,1.917  c0.17,0.724,0.173,1.589,0.007,2.644l-0.012,0.077v0.676l0.526,0.298c0.443,0.235,0.795,0.504,1.065,0.812  c0.45,0.513,0.741,1.165,0.864,1.938c0.127,0.795,0.085,1.741-0.123,2.812c-0.24,1.232-0.628,2.305-1.152,3.183  c-0.482,0.809-1.096,1.48-1.825,2c-0.696,0.494-1.523,0.869-2.458,1.109c-0.906,0.236-1.939,0.355-3.072,0.355h-0.73  c-0.522,0-1.029,0.188-1.427,0.525c-0.399,0.344-0.663,0.814-0.744,1.328l-0.055,0.299l-0.924,5.855l-0.042,0.215  c-0.011,0.068-0.03,0.102-0.058,0.125c-0.025,0.021-0.061,0.035-0.096,0.035H7.266z"/>
                <path fill="#179BD7" d="M23.048,7.667L23.048,7.667L23.048,7.667c-0.028,0.179-0.06,0.362-0.096,0.55  c-1.237,6.351-5.469,8.545-10.874,8.545H9.326c-0.661,0-1.218,0.48-1.321,1.132l0,0l0,0L6.596,26.83l-0.399,2.533  c-0.067,0.428,0.263,0.814,0.695,0.814h4.881c0.578,0,1.069-0.42,1.16-0.99l0.048-0.248l0.919-5.832l0.059-0.32  c0.09-0.572,0.582-0.992,1.16-0.992h0.73c4.729,0,8.431-1.92,9.513-7.476c0.452-2.321,0.218-4.259-0.978-5.622  C24.022,8.286,23.573,7.945,23.048,7.667z"/>
                <path fill="#222D65" d="M21.754,7.151c-0.189-0.055-0.384-0.105-0.584-0.15c-0.201-0.044-0.407-0.083-0.619-0.117  c-0.742-0.12-1.555-0.177-2.426-0.177h-7.352c-0.181,0-0.353,0.041-0.507,0.115C9.927,6.985,9.675,7.306,9.614,7.699L8.05,17.605  l-0.045,0.289c0.103-0.652,0.66-1.132,1.321-1.132h2.752c5.405,0,9.637-2.195,10.874-8.545c0.037-0.188,0.068-0.371,0.096-0.55  c-0.313-0.166-0.652-0.308-1.017-0.429C21.941,7.208,21.848,7.179,21.754,7.151z"/>
                <path fill="#253B80" d="M9.614,7.699c0.061-0.393,0.313-0.714,0.652-0.876c0.155-0.074,0.326-0.115,0.507-0.115h7.352  c0.871,0,1.684,0.057,2.426,0.177c0.212,0.034,0.418,0.073,0.619,0.117c0.2,0.045,0.395,0.095,0.584,0.15  c0.094,0.028,0.187,0.057,0.278,0.086c0.365,0.121,0.704,0.264,1.017,0.429c0.368-2.347-0.003-3.945-1.272-5.392  C20.378,0.682,17.853,0,14.622,0h-9.38c-0.66,0-1.223,0.48-1.325,1.133L0.01,25.898c-0.077,0.49,0.301,0.932,0.795,0.932h5.791  l1.454-9.225L9.614,7.699z"/>
              </svg>
			<a href="https://www.paypal.com/au/webapps/mpp/paypal-payin4">More about Paypal</a>
			</td>
                  
			<!-- <td>
				<svg width="70" height="20" viewBox="0 0 70 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.22491 16.1149L1.69993 19.9999H18.3238L17.7801 15.5509H10.0293L9.9586 14.9989L17.0979 9.98895L16.6209 6.09595H0L0.54374 10.5449H8.31145L8.38016 11.1009L1.22491 16.1149Z" fill="#1A0826"/>
					<path d="M18.5977 6.09595L20.2977 19.9959H52.5376L50.8367 6.09595H18.5977Z" fill="#AA8FFF"/>
					<path d="M69.9393 11.1059C69.5559 7.98092 67.11 6.08692 63.7879 6.09992H52.7219L54.4218 19.9999H59.4011L59.0605 17.2189H64.3296C68.4754 17.2189 70.3745 14.6249 69.9393 11.1059ZM63.7899 13.3259L58.5845 13.3319L58.1771 9.99492H63.4104C63.6485 9.97162 63.889 9.99643 64.1174 10.0679C64.3459 10.1393 64.5577 10.256 64.7406 10.411C64.9234 10.566 65.0735 10.7562 65.182 10.9703C65.2905 11.1845 65.3552 11.4183 65.3723 11.6579C65.4042 11.8772 65.3859 12.1009 65.3187 12.312C65.2514 12.5231 65.1371 12.7161 64.9844 12.8761C64.8316 13.0361 64.6446 13.1589 64.4374 13.2353C64.2302 13.3118 64.0084 13.3397 63.7888 13.3169L63.7899 13.3259Z" fill="#1A0826"/>
					<path d="M22.6817 4.77096C23.0988 4.25943 23.2971 3.60284 23.2333 2.94485C23.1695 2.28686 22.8487 1.68105 22.3411 1.25996C21.8869 0.781158 21.2623 0.502552 20.6041 0.485123C19.9458 0.467693 19.3074 0.712858 18.8287 1.16696C18.4099 1.67853 18.2103 2.33609 18.2738 2.99528C18.3373 3.65448 18.6586 4.26145 19.1673 4.68296C19.6223 5.16167 20.2476 5.43975 20.9064 5.45625C21.5652 5.47274 22.2036 5.22631 22.6817 4.77096Z" fill="#1A0826"/>
					<path d="M26.0019 15.2359L26.232 17.1259H23.4057L22.4407 9.2439H27.0974C30.3598 9.2439 31.8038 10.2659 32.0568 12.3109C32.2958 14.2669 30.9713 15.2469 27.9379 15.2329L26.0019 15.2359ZM25.5339 11.4119L25.748 13.1809H27.5913C28.8531 13.1809 29.2504 12.9609 29.1718 12.3219C29.0791 11.5639 28.5513 11.4099 27.3384 11.4099L25.5339 11.4119Z" fill="#1A0826"/>
					<path d="M38.3854 15.775H35.0065L34.6261 17.127H31.9163L34.4299 9.25098H37.3687L41.7853 17.127H39.0965L38.3854 15.775ZM36.1746 11.61L35.5253 13.91H37.3966L36.1746 11.61Z" fill="#1A0826"/>
					<path d="M43.4853 17.1279L43.1028 13.9969L39.2488 9.2489H42.2255L44.2501 11.8319L45.721 9.2489H48.6866L45.8295 14.0079L46.2109 17.1289L43.4853 17.1279Z" fill="#1A0826"/>
				</svg>
              <a href="https://www.afterpay.com/en-US/how-it-works">More about ZipPay</a>
			</td> -->

			<td>
				<svg width="80" height="16" viewBox="0 0 80 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip298357203950)">
						<path d="M78.8886 3.15156L76.4842 1.7685L74.0799 0.317423C73.7107 0.106988 73.2927 -0.00284231 72.8677 -0.0010777C72.4427 0.000686911 72.0256 0.113984 71.6582 0.327478C71.2907 0.540972 70.9858 0.847177 70.7739 1.21546C70.562 1.58374 70.4506 2.00118 70.4508 2.42602V2.72077C70.4507 2.80561 70.4713 2.88918 70.5108 2.96425C70.5504 3.03932 70.6076 3.10361 70.6776 3.15156L71.8117 3.78641C71.8649 3.81805 71.9239 3.83849 71.9853 3.84647C72.0466 3.85445 72.109 3.8498 72.1685 3.83282C72.2279 3.81583 72.2833 3.78685 72.3312 3.74768C72.3791 3.70851 72.4184 3.65996 72.4468 3.60502C72.4671 3.5308 72.4671 3.45252 72.4468 3.37829V2.65275C72.4438 2.59021 72.4531 2.52768 72.4742 2.46874C72.4954 2.4098 72.528 2.35562 72.5701 2.30928C72.6123 2.26295 72.6631 2.22538 72.7198 2.19872C72.7765 2.17207 72.8379 2.15685 72.9005 2.15395H73.1726L75.4409 3.44631L77.7091 4.71601C77.8194 4.78604 77.8978 4.89651 77.9274 5.02369C77.9571 5.15087 77.9357 5.28461 77.8679 5.3962L77.7091 5.55491L75.4409 6.82461L73.1726 8.11697C73.1191 8.15001 73.0596 8.17212 72.9974 8.18202C72.9353 8.19193 72.8718 8.18942 72.8107 8.17467C72.7495 8.15991 72.6919 8.13319 72.6411 8.09605C72.5903 8.0589 72.5474 8.01207 72.5149 7.95826C72.4918 7.86903 72.4918 7.77541 72.5149 7.68618V7.32341C72.5151 6.89857 72.4036 6.48113 72.1918 6.11285C71.9799 5.74457 71.6749 5.43836 71.3075 5.22487C70.9401 5.01138 70.523 4.89808 70.098 4.89632C69.673 4.89455 69.2549 5.00438 68.8857 5.21481L66.436 6.62055L64.0317 8.00361C63.4766 8.32637 63.0705 8.85413 62.9008 9.47326C62.7311 10.0924 62.8114 10.7534 63.1245 11.3139C63.3333 11.6972 63.6483 12.0121 64.0317 12.2208L66.436 13.6039L68.8857 14.9869C69.2549 15.1974 69.673 15.3072 70.098 15.3054C70.523 15.3037 70.9401 15.1904 71.3075 14.9769C71.6749 14.7634 71.9799 14.4572 72.1918 14.0889C72.4036 13.7206 72.5151 13.3032 72.5149 12.8783V12.5836C72.515 12.4987 72.4944 12.4152 72.4548 12.3401C72.4153 12.265 72.3581 12.2007 72.288 12.1528L71.1539 11.4953C71.1008 11.4636 71.0417 11.4432 70.9804 11.4352C70.919 11.4272 70.8567 11.4319 70.7972 11.4489C70.7377 11.4658 70.6823 11.4948 70.6345 11.534C70.5866 11.5732 70.5472 11.6217 70.5188 11.6767C70.4987 11.7586 70.4987 11.8441 70.5188 11.9261V12.6516C70.5219 12.7141 70.5126 12.7767 70.4914 12.8356C70.4703 12.8945 70.4377 12.9487 70.3955 12.9951C70.3534 13.0414 70.3025 13.079 70.2458 13.1056C70.1892 13.1323 70.1278 13.1475 70.0652 13.1504C69.9756 13.1708 69.8826 13.1708 69.793 13.1504L67.5248 11.858L65.2566 10.5883C65.1421 10.534 65.0526 10.4381 65.0063 10.3202C64.96 10.2023 64.9602 10.0712 65.0071 9.95349L65.1658 9.79478L67.4341 8.52509L69.7023 7.23272C69.7558 7.19969 69.8154 7.17758 69.8775 7.16767C69.9396 7.15777 70.0031 7.16027 70.0643 7.17503C70.1254 7.18978 70.1831 7.21651 70.2338 7.25365C70.2846 7.29079 70.3275 7.33762 70.3601 7.39143C70.3831 7.48066 70.3831 7.57428 70.3601 7.66351V8.02628C70.3599 8.45112 70.4713 8.86856 70.6832 9.23684C70.8951 9.60513 71.2 9.91133 71.5674 10.1248C71.9349 10.3383 72.352 10.4516 72.777 10.4534C73.202 10.4551 73.62 10.3453 73.9892 10.1349L76.4389 8.72915L78.8432 7.34609C79.1143 7.17931 79.3497 6.96037 79.5355 6.70195C79.7213 6.44354 79.854 6.15081 79.9257 5.84074C79.9975 5.53068 80.0069 5.20946 79.9534 4.89573C79.9 4.58199 79.7847 4.28199 79.6144 4.01314C79.4488 3.66949 79.1991 3.37315 78.8886 3.15156Z" fill="black"/>
						<path d="M63.0564 3.55969L57.4085 15.2137H55.1403L57.2498 10.8604L53.9382 3.55969H56.3425L58.4746 8.43441L60.7428 3.55969H63.0564Z" fill="black"/>
						<path d="M6.6005 7.68617C6.57832 7.24324 6.42668 6.81654 6.16434 6.45889C5.90201 6.10124 5.54051 5.82835 5.12459 5.67399C4.70867 5.51964 4.2566 5.4906 3.82433 5.59047C3.39207 5.69034 2.9986 5.91473 2.69262 6.23588C2.38665 6.55702 2.18162 6.96081 2.1029 7.39725C2.02418 7.8337 2.07524 8.28364 2.24975 8.69137C2.42426 9.09911 2.71456 9.44673 3.08472 9.69121C3.45487 9.93569 3.88863 10.0663 4.33229 10.0668C4.93386 10.0668 5.51079 9.82797 5.93616 9.40277C6.36153 8.97756 6.6005 8.40087 6.6005 7.79954V7.68617ZM6.6005 11.8353V10.747C6.28044 11.1336 5.87823 11.4441 5.42311 11.6559C4.96799 11.8677 4.47138 11.9755 3.96937 11.9714C3.43615 11.9596 2.91048 11.8429 2.42238 11.628C1.93428 11.4131 1.49333 11.1042 1.12471 10.7188C0.756097 10.3335 0.46704 9.87939 0.274057 9.38238C0.0810737 8.88536 -0.0120538 8.35521 -5.20889e-06 7.82221V7.68617C-0.0212613 7.14417 0.0645893 6.6033 0.252636 6.0945C0.440683 5.5857 0.727235 5.11895 1.0959 4.72094C1.46457 4.32294 1.90812 4.0015 2.40118 3.775C2.89424 3.54851 3.42713 3.4214 3.96937 3.40095C4.46245 3.39767 4.95012 3.50374 5.39725 3.71154C5.84438 3.91933 6.23984 4.22367 6.55514 4.60263V3.55967H8.57385V11.8353H6.6005Z" fill="black"/>
						<path d="M18.554 9.95347C17.8282 9.95347 17.6467 9.6814 17.6467 9.0012V5.41885H18.9396V3.62768H17.6467V1.54175H15.56V3.55966H12.8381V2.72075C12.8381 2.04056 13.1103 1.76848 13.8361 1.76848H14.2898V0.158691H13.3144C11.5906 0.158691 10.774 0.725519 10.774 2.426V3.53698H9.61725V5.41885H10.774V11.9034H12.8381V5.41885H15.56V9.47734C15.56 11.1778 16.1951 11.9034 17.8282 11.9034H18.9623V9.95347H18.554Z" fill="black"/>
						<path d="M26.0392 6.93801C25.9716 6.44727 25.7218 5.99992 25.3393 5.68487C24.9569 5.36981 24.4699 5.21012 23.9751 5.23752C23.4789 5.21469 22.9917 5.37552 22.6067 5.68925C22.2217 6.00298 21.966 6.44759 21.8884 6.93801H26.0392ZM21.911 8.23037C21.9461 8.76563 22.1883 9.2662 22.5863 9.62597C22.9843 9.98574 23.5069 10.1764 24.0432 10.1576C24.4325 10.1622 24.8164 10.0667 25.158 9.88002C25.4997 9.69338 25.7875 9.42199 25.9938 9.09195H28.126C27.8622 9.96613 27.3113 10.7259 26.5622 11.2484C25.8131 11.7709 24.9096 12.0256 23.9978 11.9714C22.9181 12.0462 21.8528 11.6894 21.0362 10.9794C20.2196 10.2693 19.7184 9.26427 19.6428 8.18503V7.68622C19.6428 6.54971 20.0945 5.45975 20.8984 4.65611C21.7024 3.85248 22.7928 3.401 23.9298 3.401C25.0667 3.401 26.1571 3.85248 26.9611 4.65611C27.765 5.45975 28.2167 6.54971 28.2167 7.68622C28.2392 7.85931 28.2392 8.0346 28.2167 8.2077L21.911 8.23037Z" fill="black"/>
						<path d="M41.5537 7.68621C41.5388 7.08998 41.2895 6.52363 40.8597 6.10988C40.43 5.69613 39.8545 5.4683 39.2579 5.47576C38.6613 5.48321 38.0916 5.72535 37.6724 6.14971C37.2531 6.57407 37.018 7.14647 37.018 7.74289C37.018 8.33931 37.2531 8.91171 37.6724 9.33607C38.0916 9.76043 38.6613 10.0026 39.2579 10.01C39.8545 10.0175 40.43 9.78965 40.8597 9.3759C41.2895 8.96215 41.5388 8.39581 41.5537 7.79957V7.68621ZM34.9986 15.2137V3.5597H37.0173V4.62534C37.3374 4.23873 37.7396 3.92826 38.1947 3.71647C38.6498 3.50469 39.1464 3.39692 39.6484 3.40099C40.1816 3.40985 40.7079 3.52362 41.1971 3.7358C41.6863 3.94799 42.1289 4.25443 42.4996 4.63763C42.8703 5.02082 43.1619 5.47327 43.3576 5.96912C43.5534 6.46497 43.6495 6.99451 43.6405 7.5275V7.68621C43.6618 8.22821 43.5759 8.76907 43.3879 9.27788C43.1998 9.78668 42.9133 10.2534 42.5446 10.6514C42.1759 11.0494 41.7324 11.3709 41.2393 11.5974C40.7463 11.8239 40.2134 11.951 39.6711 11.9714C39.1959 11.9805 38.7243 11.8858 38.2895 11.6939C37.8546 11.5021 37.4669 11.2176 37.1534 10.8604V15.2137H34.9986Z" fill="black"/>
						<path d="M50.9895 7.68616C50.967 7.24822 50.8179 6.8262 50.5603 6.47123C50.3027 6.11626 49.9477 5.84358 49.5382 5.68621C49.1287 5.52885 48.6824 5.49357 48.2532 5.58463C47.8241 5.6757 47.4306 5.8892 47.1204 6.19929C46.8102 6.50937 46.5966 6.90272 46.5055 7.33168C46.4144 7.76065 46.4497 8.20681 46.6071 8.61613C46.7645 9.02544 47.0373 9.38034 47.3924 9.63783C47.7475 9.89531 48.1697 10.0443 48.6079 10.0668H48.7213C49.3228 10.0668 49.8998 9.82796 50.3251 9.40276C50.7505 8.97756 50.9895 8.40086 50.9895 7.79953V7.68616ZM50.9895 11.8353V10.747C50.6751 11.1344 50.2772 11.4457 49.8255 11.6577C49.3738 11.8697 48.88 11.9769 48.381 11.9714C47.8478 11.9625 47.3216 11.8488 46.8324 11.6366C46.3432 11.4244 45.9006 11.1179 45.5299 10.7347C45.1592 10.3516 44.8676 9.89911 44.6718 9.40326C44.4761 8.90741 44.38 8.37786 44.389 7.84488V7.68616C44.3677 7.14417 44.4536 6.6033 44.6416 6.0945C44.8297 5.58569 45.1162 5.11894 45.4849 4.72094C45.8535 4.32294 46.2971 4.00149 46.7902 3.775C47.2832 3.5485 47.8161 3.42139 48.3584 3.40095C48.8481 3.39783 49.3324 3.50411 49.7759 3.71201C50.2193 3.91991 50.6107 4.22419 50.9214 4.60262V3.55966H52.9628V11.8353H50.9895Z" fill="black"/>
						<path d="M31.324 4.37588C31.5126 4.07212 31.7769 3.82255 32.0911 3.65164C32.4052 3.48073 32.7584 3.39434 33.1159 3.40094C33.4208 3.39305 33.7234 3.4551 34.0005 3.58232V5.71359C33.5584 5.44128 33.0451 5.30707 32.5262 5.32815C32.1693 5.40479 31.8544 5.61302 31.6442 5.91136C31.4341 6.20969 31.344 6.57623 31.3921 6.93794V11.8353H29.2827V3.55965H31.324V4.37588Z" fill="black"/>
					</g>
					<defs>
						<clipPath id="clip298357203950">
							<rect width="80" height="15.3043" fill="white"/>
						</clipPath>
					</defs>
				</svg>
				<a href="https://www.winzip.com/en/learn/tips/what-is-zip-file/how-zip-works/">More about Afterpay</a>
			</td>

            <!-- <td>
				<svg width="80" height="19" viewBox="0 0 80 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0213978283755)">
						<path d="M13.1067 2.29091L11.1243 4.26938C10.9869 4.40649 10.7891 4.26938 10.7891 4.26938L8.24753 1.69038C7.8535 1.2997 7.32062 1.08045 6.7652 1.08045C6.20976 1.08045 5.67689 1.2997 5.28286 1.69038C4.89074 2.08328 4.67058 2.61523 4.67058 3.16977C4.67058 3.72432 4.89074 4.25626 5.28286 4.64917L9.49355 8.85291C9.88768 9.24401 10.4208 9.46357 10.9766 9.46357C11.5324 9.46357 12.0656 9.24401 12.4596 8.85291L15.9834 5.33608L16.6003 4.70401C16.7008 4.60356 16.8202 4.52388 16.9516 4.46951C17.0831 4.41514 17.224 4.38716 17.3662 4.38716C17.5085 4.38716 17.6493 4.41514 17.7808 4.46951C17.9121 4.52388 18.0315 4.60356 18.1321 4.70401C18.2318 4.80167 18.3107 4.91832 18.3644 5.04704C18.418 5.17575 18.4452 5.3139 18.4443 5.45329C18.4434 5.59268 18.4144 5.73048 18.3591 5.85848C18.3039 5.9865 18.2234 6.10213 18.1224 6.1985L17.4864 6.83743L11.0858 13.228C11.0612 13.2542 11.0313 13.2752 10.9983 13.2894C10.9652 13.3037 10.9296 13.3111 10.8935 13.3111C10.8575 13.3111 10.8218 13.3037 10.7887 13.2894C10.7556 13.2752 10.7258 13.2542 10.7012 13.228L3.73869 6.27939C3.34442 5.88864 2.81132 5.66934 2.25567 5.66934C1.70002 5.66934 1.16691 5.88864 0.772639 6.27939C0.381195 6.67264 0.161499 7.20447 0.161499 7.75879C0.161499 8.31311 0.381195 8.84493 0.772639 9.23815L9.45373 17.9021L9.4084 17.8623C9.80244 18.253 10.3353 18.4722 10.8907 18.4722C11.4462 18.4722 11.9791 18.253 12.3731 17.8623L20.4552 9.79619L20.5404 9.71121C21.0415 9.22695 21.441 8.64804 21.7158 8.00816C21.9904 7.36829 22.1349 6.68025 22.1405 5.98413C22.1462 5.28801 22.013 4.59773 21.7487 3.9535C21.4844 3.30926 21.0943 2.72394 20.6011 2.23165C20.108 1.73936 19.5216 1.34993 18.876 1.08605C18.2306 0.822166 17.539 0.689108 16.8415 0.694623C16.144 0.700138 15.4545 0.844115 14.8134 1.11817C14.1721 1.39223 13.592 1.79088 13.1067 2.29091Z" fill="#786DFF"/>
						<path d="M33.4457 13.1693H28.8119V5.7175C28.8066 5.63941 28.7719 5.56623 28.7146 5.51277C28.6574 5.4593 28.5819 5.42957 28.5035 5.42957C28.425 5.42957 28.3496 5.4593 28.2923 5.51277C28.2351 5.56623 28.2003 5.63941 28.1951 5.7175V13.4298C28.1968 13.5107 28.2298 13.5879 28.2872 13.6451C28.3445 13.7023 28.4217 13.7353 28.5028 13.737H33.4485C33.524 13.737 33.5962 13.7071 33.6496 13.6539C33.7029 13.6006 33.7328 13.5284 33.7328 13.4531C33.7328 13.3779 33.7029 13.3057 33.6496 13.2525C33.5962 13.1993 33.524 13.1693 33.4485 13.1693H33.4457Z" fill="black"/>
						<path d="M39.9988 5.67494C39.9698 5.58876 39.9145 5.51383 39.8405 5.4607C39.7665 5.40758 39.6778 5.37892 39.5867 5.37879H39.5633C39.4721 5.37851 39.3832 5.407 39.3092 5.46018C39.2352 5.51336 39.1799 5.58853 39.1513 5.67494L35.6068 13.3393C35.5769 13.3979 35.5609 13.4627 35.5601 13.5285C35.564 13.6003 35.596 13.6676 35.6492 13.7161C35.7024 13.7646 35.7725 13.7903 35.8445 13.7876C35.9113 13.7867 35.9761 13.7645 36.0295 13.7243C36.0828 13.6842 36.1219 13.628 36.1412 13.5642L37.1125 11.4225H42.0018L42.9731 13.5463C42.9959 13.6113 43.0371 13.6681 43.0918 13.71C43.1465 13.7519 43.2122 13.777 43.2809 13.7821C43.319 13.7831 43.3569 13.7765 43.3923 13.7627C43.4279 13.7491 43.4603 13.7285 43.4879 13.7023C43.5154 13.6761 43.5376 13.6447 43.553 13.6099C43.5683 13.5752 43.5768 13.5377 43.5777 13.4997C43.5776 13.4337 43.561 13.3686 43.5296 13.3105L39.9988 5.67494ZM37.3721 10.8672L39.5702 6.07667L41.7505 10.8672H37.3721Z" fill="black"/>
						<path d="M51.0912 5.40491C51.034 5.40853 50.9788 5.42668 50.9308 5.45764C50.8826 5.4886 50.8433 5.53133 50.8164 5.58178L47.794 9.89933L44.7909 5.58452C44.7635 5.53254 44.7227 5.48878 44.6726 5.45771C44.6227 5.42663 44.5653 5.40936 44.5065 5.40764C44.424 5.40859 44.345 5.44087 44.2855 5.49794C44.226 5.555 44.1906 5.63254 44.1864 5.71477C44.1895 5.78186 44.2099 5.84702 44.2455 5.90397L47.4808 10.4574V13.4737C47.486 13.5518 47.5208 13.625 47.578 13.6784C47.6353 13.732 47.7108 13.7616 47.7892 13.7616C47.8676 13.7616 47.9431 13.732 48.0004 13.6784C48.0577 13.625 48.0924 13.5518 48.0977 13.4737V10.4436L51.3083 5.93689C51.3618 5.86897 51.3948 5.78711 51.403 5.70106C51.3972 5.62183 51.362 5.5476 51.3044 5.49284C51.2468 5.43809 51.1708 5.40674 51.0912 5.40491Z" fill="black"/>
						<path d="M59.1142 9.39075C59.7062 9.05893 60.2036 8.5393 60.2036 7.60833V7.58502C60.2109 7.3239 60.1641 7.06409 60.0662 6.82181C59.9684 6.57955 59.8215 6.36001 59.6348 6.17691C59.1608 5.70389 58.4149 5.44339 57.467 5.44339H54.527C54.4068 5.44247 54.2877 5.46544 54.1765 5.51095C54.0654 5.55646 53.9643 5.62362 53.8794 5.70848C53.7945 5.79335 53.7274 5.89424 53.682 6.00526C53.6366 6.11629 53.6137 6.23523 53.6148 6.35515V12.813C53.6139 12.9328 53.6368 13.0516 53.6823 13.1624C53.7278 13.2733 53.795 13.374 53.8799 13.4588C53.9648 13.5435 54.0657 13.6105 54.1768 13.6559C54.2879 13.7013 54.407 13.7243 54.527 13.7234H57.5672C59.4398 13.7234 60.672 12.9665 60.672 11.4529V11.4282C60.6665 10.3135 60.0744 9.7568 59.1142 9.39075ZM55.3925 7.03659H57.1935C57.9643 7.03659 58.3915 7.34371 58.3915 7.88803V7.91133C58.3915 8.52695 57.8818 8.78746 57.0754 8.78746H55.3925V7.03659ZM58.8531 11.2239C58.8531 11.8381 58.3668 12.122 57.5617 12.122H55.3925V10.3012H57.5027C58.4382 10.3012 58.8531 10.6439 58.8531 11.2005V11.2239Z" fill="black"/>
						<path d="M68.9492 5.34058C68.8291 5.33967 68.7101 5.36259 68.599 5.40802C68.488 5.45345 68.387 5.52047 68.3021 5.60519C68.2172 5.68992 68.1501 5.79064 68.1046 5.9015C68.0591 6.01238 68.0361 6.13117 68.037 6.25098V10.1544C68.037 11.4666 67.3625 12.1411 66.251 12.1411C65.1396 12.1411 64.4651 11.4432 64.4651 10.0955V6.25646C64.456 6.02094 64.3557 5.79812 64.1856 5.63471C64.0154 5.47132 63.7883 5.38005 63.5522 5.38005C63.3161 5.38005 63.0891 5.47132 62.9188 5.63471C62.7486 5.79812 62.6484 6.02094 62.6393 6.25646V10.1476C62.6393 12.584 64.0035 13.8262 66.2305 13.8262C68.4574 13.8262 69.8697 12.5922 69.8697 10.0887V6.25098C69.8706 6.13047 69.8474 6.01099 69.8013 5.89958C69.7553 5.78816 69.6874 5.68706 69.6016 5.60223C69.5158 5.5174 69.4139 5.45054 69.3019 5.40561C69.1899 5.36068 69.0699 5.33856 68.9492 5.34058Z" fill="black"/>
						<path d="M78.3351 5.36705C77.9559 5.36705 77.6839 5.57957 77.4586 5.91549L75.4089 8.83726L73.3935 5.93468C73.1682 5.60425 72.9072 5.37939 72.4923 5.37939C72.3747 5.37647 72.2577 5.39686 72.148 5.43934C72.0384 5.48182 71.9382 5.54558 71.8534 5.62693C71.7686 5.70826 71.7008 5.80558 71.6539 5.91323C71.6069 6.02089 71.5819 6.13676 71.5801 6.25414C71.582 6.48994 71.6611 6.71862 71.8054 6.90541L74.4843 10.536V12.8902C74.4843 13.1317 74.5804 13.3632 74.7515 13.5339C74.9226 13.7047 75.1546 13.8006 75.3965 13.8006C75.6385 13.8006 75.8705 13.7047 76.0415 13.5339C76.2126 13.3632 76.3087 13.1317 76.3087 12.8902V10.5004L78.9876 6.89307C79.13 6.70925 79.2125 6.48623 79.2239 6.25414C79.2303 6.13599 79.2116 6.01782 79.1692 5.90733C79.1267 5.79683 79.0615 5.69649 78.9777 5.61282C78.8939 5.52915 78.7933 5.46402 78.6826 5.42168C78.5719 5.37934 78.4535 5.36072 78.3351 5.36705Z" fill="black"/>
					</g>
					<defs>
						<clipPath id="clip0213978283755">
							<rect width="80" height="18.6667" fill="white"/>
						</clipPath>
					</defs>
				</svg>
              <a href="https://www.laybuy.com/au/how-it-works">More about Laybuy</a>
			</td> -->

		</tr>
		<tr>
			<td>Account limit</td>
            <td>Unlimited</td>
			<!-- <td>Up to $1,000</td> -->
			<td>Up to $2,000</td>
			<!-- <td>Up to $1200</td> -->
		</tr>
		<tr>
			<td>Minimum purchase</td>
            <td>$30</td>
			<!-- <td>No minimum</td> -->
			<td>$100</td>
			<!-- <td>$120</td> -->
		</tr>
		<tr>
			<td>Interest free period</td>
            <td>Always interest free</td>
			<!-- <td>Always interest free</td> -->
			<td>Always interest free</td>
			<!-- <td>Always interest free</td> -->
		</tr>
		<tr>
			<td>Set up fee</td>
			<td>No set up fee</td>
			<!-- <td>No set up fee</td> -->
			<td>No set up fee</td>
			<!-- <td>No set up fee</td> -->
		</tr>
		<tr>
			<td>Minimum repayments</td>
            <td>Your owing balance divided by 4</td>
			<!-- <td>$40/month</td> -->
			<td>Your owing balance divided by 4</td>
            <!-- <td>6 weekly payments</td> -->
			
		</tr>
		<tr>
			<td>Payment frequency</td>
            <td>Only fortnightly</td>
			<!-- <td>Weekly, fortnightly and monthly</td> -->
			<td>Only fortnightly</td>
			<!-- <td>Weekly</td> -->
		</tr>
		<tr>
			<td>Account fee</td>
			<td>No account fee</td>
			<!-- <td>A monthly account fee of $7.95, waived if you have no outstanding balance.</td> -->
			<td>No account fee</td>
			<!-- <td>No account fee</td> -->
		</tr>
		<tr>
			<td>Late fee</td>
            <td>Learn more about Paypal late fees <a href="https://www.paypal.com/au/webapps/mpp/paypal-payin4">here</a></td>
			<!-- <td>Learn more about Zip Pay late fees <a href="https://www.afterpay.com/en-US/how-it-works">here</a></td> -->
			<td>Learn more about Afterpay late fees <a href="https://www.winzip.com/en/learn/tips/what-is-zip-file/how-zip-works/">here</a></td>
			<!-- <td>Learn more about Laybuy late fees <a href="https://www.laybuy.com/au/how-it-works">here</a></td> -->
		</tr>
	</table>
	<p>Gift cards are unavailable to purchase with Zip Pay, Afterpay and Laybuy</p>
	<img class="payment-options-close-button payment-table-close" src="https://d2f9o9wxwalx4m.cloudfront.net/assets/images/delete.png">
</div>