<div class="popup-navigation js-popup-navigation" data-popup-content>
    <div class="popup-navigation__head pt-20 pb-10 px-10 d-lg-none">
        <div class="container">
            <div class="popup-navigation__button d-flex align-items-center" data-js-popup-navigation-button="close">
                <i class="popup-navigation__close cursor-pointer" data-js-popup-close data-button-content="close">{% render 'icon-theme-164' %}</i>
                <i class="popup-navigation__back cursor-pointer d-lg-none hide-test_239" data-button-content="back">{% render 'icon-theme-012' %}<span style="color: white; font-style: normal; padding-left: 10px;">Back</span></i>
            </div>
            <div class="header__logo d-flex d-lg-none align-items-center show-test_239-flex" style="width: {{ settings.logo_mobile_width }}px;">
                {% include 'logo' svg: settings.logo_mobile_svg_file image: settings.logo_mobile_image width: settings.logo_mobile_width %}
            </div>

            <div class="popup-navigation__buttons show-test_239-flex">
              <a href="/account" class="d-flex d-lg-none align-items-center position-relative js-popup-button" data-js-popup-button="account" data-js-tooltip="" data-tippy-content="Account" data-tippy-placement="bottom" data-tippy-distance="6">
                <i>
                  <!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-201" viewBox="0 0 24 24">
                    <g>
                      <path d="M4.023,22.167h-1.25v-0.625c0-1.042,0.163-2.034,0.488-2.979c0.325-0.944,0.778-1.807,1.357-2.588		c0.579-0.781,1.266-1.458,2.061-2.031c0.794-0.573,1.66-1.016,2.598-1.328c-0.82-0.481-1.484-1.149-1.992-2.002		C6.777,9.761,6.523,8.82,6.523,7.792c0-0.781,0.146-1.51,0.439-2.188c0.293-0.677,0.696-1.272,1.211-1.787		c0.514-0.514,1.11-0.918,1.787-1.211c0.677-0.293,1.406-0.439,2.188-0.439s1.51,0.146,2.188,0.439		c0.677,0.293,1.272,0.697,1.787,1.211c0.514,0.515,0.918,1.11,1.211,1.787c0.293,0.677,0.439,1.406,0.439,2.188		c0,1.029-0.254,1.97-0.762,2.822c-0.508,0.853-1.172,1.521-1.992,2.002c0.938,0.313,1.803,0.755,2.598,1.328		c0.794,0.573,1.481,1.25,2.061,2.031c0.579,0.781,1.032,1.644,1.357,2.588c0.325,0.944,0.488,1.937,0.488,2.979v0.625h-1.25v-0.625		c0-1.12-0.212-2.174-0.635-3.164c-0.423-0.989-1.003-1.852-1.738-2.588c-0.736-0.735-1.599-1.315-2.588-1.738		c-0.99-0.423-2.044-0.635-3.164-0.635c-1.12,0-2.175,0.212-3.164,0.635c-0.99,0.423-1.853,1.003-2.588,1.738		c-0.736,0.736-1.315,1.599-1.738,2.588c-0.423,0.99-0.635,2.044-0.635,3.164V22.167z M8.115,9.491c0.228,0.534,0.54,1,0.938,1.396		c0.397,0.397,0.862,0.71,1.396,0.938c0.534,0.228,1.1,0.342,1.699,0.342c0.599,0,1.165-0.114,1.699-0.342		c0.534-0.228,0.999-0.54,1.396-0.938c0.397-0.397,0.709-0.862,0.938-1.396c0.228-0.534,0.342-1.1,0.342-1.699		c0-0.599-0.114-1.165-0.342-1.699c-0.228-0.534-0.541-0.999-0.938-1.396c-0.397-0.397-0.863-0.709-1.396-0.937		c-0.534-0.228-1.101-0.342-1.699-0.342c-0.599,0-1.166,0.114-1.699,0.342c-0.534,0.228-1,0.541-1.396,0.937		c-0.397,0.397-0.71,0.863-0.938,1.396C7.887,6.627,7.773,7.193,7.773,7.792C7.773,8.391,7.887,8.957,8.115,9.491z"></path>
                    </g>
                  </svg>
                </i>
              </a>
              <a href="#" class="d-flex d-lg-none align-items-center position-relative js-popup-button"  data-js-tooltip=""  data-tippy-placement="bottom" data-tippy-distance="6">
                <i>
                  <!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-180" viewBox="0 0 24 24">
                    <path d="M21.486,6.599c-0.286-0.696-0.703-1.318-1.25-1.865c-0.56-0.56-1.191-0.979-1.895-1.26s-1.423-0.42-2.158-0.42	s-1.458,0.14-2.168,0.42s-1.345,0.7-1.904,1.26c-0.026,0.039-0.056,0.075-0.088,0.107s-0.068,0.068-0.107,0.107	c-0.039-0.039-0.075-0.075-0.107-0.107s-0.062-0.068-0.088-0.107c-0.56-0.56-1.194-0.979-1.904-1.26s-1.433-0.42-2.168-0.42	s-1.455,0.14-2.158,0.42s-1.335,0.7-1.895,1.26C3.049,5.28,2.632,5.902,2.346,6.599s-0.43,1.429-0.43,2.197s0.144,1.501,0.43,2.197	s0.703,1.318,1.25,1.865l7.871,7.871c0.003,0.003,0.007,0.004,0.011,0.006l0.439,0.436l0.439-0.437	c0.003-0.002,0.007-0.003,0.01-0.006l7.871-7.871c0.547-0.547,0.964-1.169,1.25-1.865s0.43-1.429,0.43-2.197	S21.772,7.295,21.486,6.599z M20.324,10.515c-0.228,0.547-0.55,1.028-0.967,1.445l-7.441,7.441L4.475,11.96	c-0.417-0.417-0.739-0.898-0.967-1.445s-0.342-1.12-0.342-1.719S3.28,7.624,3.508,7.077s0.55-1.035,0.967-1.465	c0.442-0.43,0.94-0.755,1.494-0.977s1.116-0.332,1.689-0.332s1.136,0.11,1.689,0.332s1.045,0.547,1.475,0.977	c0.104,0.104,0.205,0.215,0.303,0.332s0.186,0.241,0.264,0.371c0.117,0.169,0.293,0.254,0.527,0.254s0.41-0.085,0.527-0.254	c0.078-0.13,0.166-0.254,0.264-0.371s0.198-0.228,0.303-0.332c0.43-0.43,0.921-0.755,1.475-0.977s1.116-0.332,1.689-0.332	s1.136,0.11,1.689,0.332s1.052,0.547,1.494,0.977c0.417,0.43,0.739,0.918,0.967,1.465s0.342,1.12,0.342,1.719	S20.552,9.968,20.324,10.515z"></path>
                  </svg>
                </i>
                <span class="header__counter">0</span>        
              </a>  
            </div>
        </div>
    </div>

  	<div class="popup-navigation__menu hide-test_239">
      <div class="d-flex justify-content-around">
        <a href="/account" class="d-flex d-lg-none align-items-center position-relative js-popup-button" data-js-popup-button="account" data-js-tooltip="" data-tippy-content="Account" data-tippy-placement="bottom" data-tippy-distance="6">
          <i>
            <!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-201" viewBox="0 0 24 24">
              <g>
                <path d="M4.023,22.167h-1.25v-0.625c0-1.042,0.163-2.034,0.488-2.979c0.325-0.944,0.778-1.807,1.357-2.588		c0.579-0.781,1.266-1.458,2.061-2.031c0.794-0.573,1.66-1.016,2.598-1.328c-0.82-0.481-1.484-1.149-1.992-2.002		C6.777,9.761,6.523,8.82,6.523,7.792c0-0.781,0.146-1.51,0.439-2.188c0.293-0.677,0.696-1.272,1.211-1.787		c0.514-0.514,1.11-0.918,1.787-1.211c0.677-0.293,1.406-0.439,2.188-0.439s1.51,0.146,2.188,0.439		c0.677,0.293,1.272,0.697,1.787,1.211c0.514,0.515,0.918,1.11,1.211,1.787c0.293,0.677,0.439,1.406,0.439,2.188		c0,1.029-0.254,1.97-0.762,2.822c-0.508,0.853-1.172,1.521-1.992,2.002c0.938,0.313,1.803,0.755,2.598,1.328		c0.794,0.573,1.481,1.25,2.061,2.031c0.579,0.781,1.032,1.644,1.357,2.588c0.325,0.944,0.488,1.937,0.488,2.979v0.625h-1.25v-0.625		c0-1.12-0.212-2.174-0.635-3.164c-0.423-0.989-1.003-1.852-1.738-2.588c-0.736-0.735-1.599-1.315-2.588-1.738		c-0.99-0.423-2.044-0.635-3.164-0.635c-1.12,0-2.175,0.212-3.164,0.635c-0.99,0.423-1.853,1.003-2.588,1.738		c-0.736,0.736-1.315,1.599-1.738,2.588c-0.423,0.99-0.635,2.044-0.635,3.164V22.167z M8.115,9.491c0.228,0.534,0.54,1,0.938,1.396		c0.397,0.397,0.862,0.71,1.396,0.938c0.534,0.228,1.1,0.342,1.699,0.342c0.599,0,1.165-0.114,1.699-0.342		c0.534-0.228,0.999-0.54,1.396-0.938c0.397-0.397,0.709-0.862,0.938-1.396c0.228-0.534,0.342-1.1,0.342-1.699		c0-0.599-0.114-1.165-0.342-1.699c-0.228-0.534-0.541-0.999-0.938-1.396c-0.397-0.397-0.863-0.709-1.396-0.937		c-0.534-0.228-1.101-0.342-1.699-0.342c-0.599,0-1.166,0.114-1.699,0.342c-0.534,0.228-1,0.541-1.396,0.937		c-0.397,0.397-0.71,0.863-0.938,1.396C7.887,6.627,7.773,7.193,7.773,7.792C7.773,8.391,7.887,8.957,8.115,9.491z"></path>
              </g>
            </svg>
          </i>
        </a>
        <a href="javascript:void(0)" class="iWishView d-flex d-lg-none align-items-center position-relative js-popup-button"  data-js-tooltip="" data-tippy-placement="bottom" data-tippy-distance="6">
          <i>
            <!--?xml version="1.0" encoding="utf-8"?--><!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-180" viewBox="0 0 24 24">
              <path d="M21.486,6.599c-0.286-0.696-0.703-1.318-1.25-1.865c-0.56-0.56-1.191-0.979-1.895-1.26s-1.423-0.42-2.158-0.42	s-1.458,0.14-2.168,0.42s-1.345,0.7-1.904,1.26c-0.026,0.039-0.056,0.075-0.088,0.107s-0.068,0.068-0.107,0.107	c-0.039-0.039-0.075-0.075-0.107-0.107s-0.062-0.068-0.088-0.107c-0.56-0.56-1.194-0.979-1.904-1.26s-1.433-0.42-2.168-0.42	s-1.455,0.14-2.158,0.42s-1.335,0.7-1.895,1.26C3.049,5.28,2.632,5.902,2.346,6.599s-0.43,1.429-0.43,2.197s0.144,1.501,0.43,2.197	s0.703,1.318,1.25,1.865l7.871,7.871c0.003,0.003,0.007,0.004,0.011,0.006l0.439,0.436l0.439-0.437	c0.003-0.002,0.007-0.003,0.01-0.006l7.871-7.871c0.547-0.547,0.964-1.169,1.25-1.865s0.43-1.429,0.43-2.197	S21.772,7.295,21.486,6.599z M20.324,10.515c-0.228,0.547-0.55,1.028-0.967,1.445l-7.441,7.441L4.475,11.96	c-0.417-0.417-0.739-0.898-0.967-1.445s-0.342-1.12-0.342-1.719S3.28,7.624,3.508,7.077s0.55-1.035,0.967-1.465	c0.442-0.43,0.94-0.755,1.494-0.977s1.116-0.332,1.689-0.332s1.136,0.11,1.689,0.332s1.045,0.547,1.475,0.977	c0.104,0.104,0.205,0.215,0.303,0.332s0.186,0.241,0.264,0.371c0.117,0.169,0.293,0.254,0.527,0.254s0.41-0.085,0.527-0.254	c0.078-0.13,0.166-0.254,0.264-0.371s0.198-0.228,0.303-0.332c0.43-0.43,0.921-0.755,1.475-0.977s1.116-0.332,1.689-0.332	s1.136,0.11,1.689,0.332s1.052,0.547,1.494,0.977c0.417,0.43,0.739,0.918,0.967,1.465s0.342,1.12,0.342,1.719	S20.552,9.968,20.324,10.515z"></path>
            </svg>
          </i>
          <span class="header__counter iWishCount">0</span>        
        </a>  
      </div>
  	</div>
    <div class="popup-navigation__menu d-lg-none px-10" data-js-menu-mobile>
        <div class="container" data-js-position-mobile="vertical-menu"></div>
    </div>
    <div class="popup-navigation__menu d-lg-none{% if settings.search_show %} pt-25{% endif %} pb-25 px-10 mh75" data-js-menu-mobile>
        <!-- Convertionry - Visit Our Store Block -->
        {% render 'popup-navigation-visit-our-store' %}
        <!-- Convertionry - Visit Our Store Block -->         
        <div class="container d-flex flex-column-reverse" data-js-position-mobile="menu">             </div>
    </div>
    <!-- Zeta Digital - Extra Links Start -->
    <div id="mobile-extra-menu" class="popup-navigation__menu d-lg-none px-10" data-js-menu-mobile>
        <div class="container">
          <div class="menu__item">
            <a id="find-us-anchor" class="d-flex align-items-center text-underline-hover pt-6 pb-6">
                <span>VISIT OUR STORE</span>
                <i class="menu__item_arrow d-lg-none ml-auto">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-231" viewBox="0 0 24 24">
                        <g>
                            <path d="M10.806,7.232l3.75,3.75c0.117,0.13,0.176,0.28,0.176,0.449c0,0.169-0.059,0.319-0.176,0.449l-3.75,3.75		c-0.065,0.052-0.137,0.095-0.215,0.127c-0.078,0.033-0.156,0.049-0.234,0.049s-0.156-0.016-0.234-0.049		c-0.078-0.032-0.15-0.075-0.215-0.127c-0.117-0.13-0.176-0.28-0.176-0.449c0-0.169,0.059-0.319,0.176-0.449l3.32-3.301L9.907,8.13		C9.79,8,9.731,7.85,9.731,7.681c0-0.169,0.059-0.319,0.176-0.449c0.13-0.117,0.28-0.176,0.449-0.176		C10.525,7.056,10.675,7.114,10.806,7.232z"></path>
                        </g>
                    </svg>
                </i>
            </a>
          </div>
          <div class="menu__item">
            <a href="https://gameology.zendesk.com/hc/en-au" class="d-flex align-items-center text-underline-hover pt-6 pb-6">
                <span>CONTACT US</span>
                <i class="menu__item_arrow d-lg-none ml-auto">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-231" viewBox="0 0 24 24">
                        <g>
                            <path d="M10.806,7.232l3.75,3.75c0.117,0.13,0.176,0.28,0.176,0.449c0,0.169-0.059,0.319-0.176,0.449l-3.75,3.75		c-0.065,0.052-0.137,0.095-0.215,0.127c-0.078,0.033-0.156,0.049-0.234,0.049s-0.156-0.016-0.234-0.049		c-0.078-0.032-0.15-0.075-0.215-0.127c-0.117-0.13-0.176-0.28-0.176-0.449c0-0.169,0.059-0.319,0.176-0.449l3.32-3.301L9.907,8.13		C9.79,8,9.731,7.85,9.731,7.681c0-0.169,0.059-0.319,0.176-0.449c0.13-0.117,0.28-0.176,0.449-0.176		C10.525,7.056,10.675,7.114,10.806,7.232z"></path>
                        </g>
                    </svg>
                </i>
            </a>
          </div>
          <div class="menu__item">
            <a id="information-anchor" class="d-flex align-items-center text-underline-hover pt-6 pb-6">
                <span>INFORMATION</span>
                <i class="menu__item_arrow d-lg-none ml-auto">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-231" viewBox="0 0 24 24">
                        <g>
                            <path d="M10.806,7.232l3.75,3.75c0.117,0.13,0.176,0.28,0.176,0.449c0,0.169-0.059,0.319-0.176,0.449l-3.75,3.75		c-0.065,0.052-0.137,0.095-0.215,0.127c-0.078,0.033-0.156,0.049-0.234,0.049s-0.156-0.016-0.234-0.049		c-0.078-0.032-0.15-0.075-0.215-0.127c-0.117-0.13-0.176-0.28-0.176-0.449c0-0.169,0.059-0.319,0.176-0.449l3.32-3.301L9.907,8.13		C9.79,8,9.731,7.85,9.731,7.681c0-0.169,0.059-0.319,0.176-0.449c0.13-0.117,0.28-0.176,0.449-0.176		C10.525,7.056,10.675,7.114,10.806,7.232z"></path>
                        </g>
                    </svg>
                </i>
            </a>
          </div>
        </div>
    </div>
  	<!-- Zeta Digital - Extra Links End -->
    <div class="popup-navigation__currency d-lg-none px-10" data-js-position-mobile="currencies"></div>
    <div class="popup-navigation__currency d-lg-none px-10" data-js-position-mobile="languages"></div>
	<!-- Zeta Digital - Display Banner in Mobile Navigation (08/10/2020) -->
  	{% include 'zeta-variables' %}
  	{% if homepage_mobile_navigation_image_url != '' %}
    <div>
      {% if homepage_mobile_navigation_link_url != '' %}
      <a href="{{ homepage_mobile_navigation_link_url }}">
        <img class="w-100" src="{{ homepage_mobile_navigation_image_url }}" />
      </a>
      {% else %}
      	<img class="w-100" src="{{ homepage_mobile_navigation_image_url }}" />
      {% endif %}
  	</div>
  	{% endif %}
  	<!-- Zeta Digital - Display Banner in Mobile Navigation (08/10/2020) -->
</div>
<!-- Convertionry - Visit Our Store Block -->
