<div id="preorder-block-mobile" >
  <div class="popup-services__head d-flex align-items-center mb-10">
    <h5 class="m-0">PRE-ORDER</h5>
  </div>
  <div class="popup-services__content">
    <p class="d-flex align-items-start mb-10">All pre-orders are subject to our Pre-Order Policy.</p>
    <p class="pre-order-policy-paragraph">By purchasing a pre-order from Gameology you are agreeing to all terms and conditions listed in our <a class="pre-order-link" href="https://www.gameology.com.au/pages/pre-order-policy" target="_blank">Pre-Order Policy</a>.</p>
    <hr class="my-15">
     <h5 class="m-0">RELEASE DATE</h5>
    <p class="help-center-paragraph">Please note: we will hold the entire order until all pre-order products are stocked in to our warehouse. For more information on Pre-Orders, please visit our <a class="help-center-link" href="https://gameology.zendesk.com/hc/en-au">Help Centre</a>.</p>
  </div>
  <hr class="my-15">
  <div id="preorder-release-date-block-mobile">
    <div class="popup-services__head d-flex align-items-center mb-10">
      <h5 class="m-0">RELEASE DATE</h5>
    </div>
    <div class="popup-services__content">
      <p class="d-flex align-items-start mb-10">{% render 'icon-theme-142' %}<span id="preorder-release-date-mobile"></span></p>
    </div>
  </div>
</div>