{% capture thumbnail_item_class %}{% if thumbnails_type == 'collage' %}col-lg-2-5 px-lg-5 mt-lg-10{% else %}mb-lg-10{% endif %}{% endcapture %}
{%- for media in product.media -%}

    <div class="product-gallery__thumbnail_item product-gallery__thumbnail_item--type-{{ media.media_type }} {{ thumbnail_item_class }}{% if thumbnails_type == 'collage' and first_load_group %}{% if first_load_group_index == forloop.index0 or groups_arr[forloop.index0] == '"video_group"' %}{% if first_load_group_index %} current{% endif %}{% assign first_load_group_index = null %}{% elsif groups_arr[forloop.index0] != first_load_group %} d-none{% endif %}{% elsif first_load_index == forloop.index0 %} current{% endif %}
{% if media.media_type == 'external_video' %} js-thumbnail_external_video{% endif %}" data-js-product-gallery-thumbnail-item{% if groups_arr %} data-group={{ groups_arr[forloop.index0] }}{% endif %}>
        <div class="product-gallery__thumbnail_item_inner position-relative cursor-lg-pointer">

            {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                {%- assign disable_lazyload = true -%}
                {%- assign media = media.preview_image -%}
            {%- else -%}
                {%- assign disable_lazyload = false -%}
                {%- assign media = media -%}
            {%- endif -%}

            {% render 'rimage' with image: media size: thumbnail_image_size scale: 2 disable_lazyload: disable_lazyload format: image_format height_procent: gallery_height_procent stretch_size: 'cover' alt: title %}

            {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                <div class="product-gallery__thumbnail_item_bg absolute-stretch d-flex flex-center">
                    <i class="position-absolute mr-3">

                        <svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.7167 3.225C27.3917 2.00417 26.6792 0.970833 25.4583 0.645833C23.2458 0.0541667 14.1667 0 14.1667 0C14.1667 0 5.0875 0.0541667 2.875 0.645833C1.65417 0.970833 0.945833 2.00417 0.616667 3.225C0.025 5.4375 0 10 0 10C0 10 0.025 14.5625 0.616667 16.775C0.941667 17.9958 1.65417 19.0292 2.875 19.3542C5.0875 19.9458 14.1667 20 14.1667 20C14.1667 20 23.2458 19.9458 25.4583 19.3542C26.6792 19.0292 27.3917 17.9958 27.7167 16.775C28.3083 14.5625 28.3333 10 28.3333 10C28.3333 10 28.3083 5.4375 27.7167 3.225Z" fill="#EB5254"/>
                            <path d="M18.75 10L11.25 5.83337V14.1667" fill="white"/>
                        </svg>

                    </i>

                </div>
            {%- elsif media.media_type == 'model' -%}
                <div class="product-gallery__thumbnail_item_bg absolute-stretch d-flex flex-center">
                    <i class="position-absolute mr-3">{% render 'icon-theme-322' %}</i>
                </div>
            {%- endif -%}
        </div>
    </div>

{%- endfor -%}