<!-- Conversionry - View Product Button (10/08/2022) -->
<a href="{{ url }}" class="btn btn--status{% if settings.buttons_animation_icon_enable %} btn--animated{% endif %} w-100 p-0">
    <span class="d-flex flex-center"><span class="btn__text">VIEW PRODUCT</span></span>
</a>