<div class="shopify-pay">
  <div class="shopify-pay-header">

    <div class="shopify-pay-icon">
      <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/sp_pay_480x480_35d977ed-9a18-47af-bc6f-e1fce4685cf5.png?v=1668581422" width="50px">
    </div>
    <div class="shopify-pay-text">Fast checkout with Shop Pay</div>
  </div>

  <div class="shopify-pay-button-wrapper">
    <div class="shopify-pay-button">
      <div class="shopify-pay-text" style="margin-right: 8px;">Buy with</div>
      <div class="shopify-pay-icon">
        <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/sp_pay_480x480_35d977ed-9a18-47af-bc6f-e1fce4685cf5.png?v=1668581422" width="50px">
      </div>
    </div>
  </div>
</div>