<div class="row align-items-center justify-content-center">
  <div class="promobox px-10 promobox--text">
    <div id="accumulate-points-block" class="promobox__content h-100 h-100-inner w-100 mx-auto">
      <div class="d-flex flex-column">
        <div class="promobox__text-3 fs-lg mt-15">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-sm-12">
              <p class="h3"><strong>ACCUMULATE <span style="color:#c4a156;">POINTS</span></strong></p>
              <p>Earn points every thime you shop to go towards a future discount</p>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 mt-15">
                  <p class="d-flex justify-content-left">
                    <i class="mr-7"><img style="width:80px !important; max-width:inherit !important;" src="https://cdn.shopify.com/s/files/1/0921/7330/files/Loyalty_Icons-01.png?v=1600325540"></i>
                    <span class="mt-10" style="line-height:21px;"><b style="color:black;">Shop with Gameology</b><br>1 point for every $1 spent</span>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-15">
                  <p class="d-flex justify-content-left">
                    <i class="mr-7"><img style="width:80px !important; max-width:inherit !important;" src="https://cdn.shopify.com/s/files/1/0921/7330/files/Loyalty_Icons-02.png?v=1600325540"></i>
                    <span class="mt-10" style="line-height:21px;"><b style="color:black;">Celebrate Your Birthday</b><br>+300 birthday bonus points (Colonel or above)</span>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-15">
                  <p class="d-flex justify-content-left">
                    <i class="mr-7"><img style="width:80px !important; max-width:inherit !important;" src="https://cdn.shopify.com/s/files/1/0921/7330/files/Loyalty_Icons-03.png?v=1600325540"></i>
                    <span class="mt-20" style="line-height:21px;"><b style="color:black;">Register Your Account</b><br>+50 points</span>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-15">
                  <p class="d-flex justify-content-left">
                    <i class="mr-7"><img style="width:80px !important; max-width:inherit !important;" src="https://cdn.shopify.com/s/files/1/0921/7330/files/Loyalty_Icons-04.png?v=1600325540"></i>
                    <span class="mt-20" style="line-height:21px;"><b style="color:black;">Write a Product Review</b><br>+50 points</span>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-15">
                  <p class="d-flex justify-content-left">
                    <i class="mr-7"><img style="width:80px !important; max-width:inherit !important;" src="https://cdn.shopify.com/s/files/1/0921/7330/files/Loyalty_Icons-05.png?v=1600325540"></i>
                    <span class="mt-20" style="line-height:21px;"><b style="color:black;">Spent $500</b><br>+50 points</span>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-15">
                  <p class="d-flex justify-content-left">
                    <i class="mr-7"><img style="width:80px !important; max-width:inherit !important;" src="https://cdn.shopify.com/s/files/1/0921/7330/files/Loyalty_Icons-06.png?v=1600325540"></i>
                    <span class="mt-20" style="line-height:21px;"><b style="color:black;">Follow Us on Facebook</b><br>+50 points</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-25"></div>
  </div>
</div>
<hr>
<style>
  #accumulate-points-block {
  	max-width: 1000px;
  }
  @media only screen and (max-width: 991px) {
    #accumulate-points-block {
  		max-width: 350px;
  	}
  }
</style>