<div class="mt-30">
  <div class="text-center">
  	<p class="h3"><strong>VIP EARN <span style="color:#c4a156;">EVEN MORE!</span></strong></p>
  </div>
	<div class="swell-VIP-tiers-container">
      <div class="swell-VIP-tiers-code row">
        <div class="col-md-4 vip">
          <div class="badge-container">
            <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/lieutenant-symbol.png"/>
            <h3>Lieutenant</h3>
            <p>Spend $1 - $1999</p>
            <div class="badge-divider"></div>
            <p><i class="fa fa-angle-right"></i> 1X point multiplier</p>
          </div>
          <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Badge1.png" class="badge-mobile">
        </div>
        <div class="col-md-4 vip">
          <div class="badge-container">
            <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/colonel-symbol.png"/>
            <h3>Colonel</h3>
            <p>Spend $2000 - $4999</p>
            <div class="badge-divider"></div>
            <p><i class="fa fa-angle-right"></i> 1.1X point multiplier</p>
            <p><i class="fa fa-angle-right"></i> 330 points birthday reward</p>
            <p><i class="fa fa-angle-right"></i> Once-off Extra $15 Coupon</p>
            <p>($100 Min.Spend)</p>
          </div>
          <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Badge2.png" class="badge-mobile">
        </div>
        <div class="col-md-4 vip">
          <div class="badge-container">
            <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/general-symbol.png"/>
            <h3>General</h3>
            <p>Spend $5000+</p>
            <div class="badge-divider"></div>
            <p><i class="fa fa-angle-right"></i> 1.25X point multiplier</p>
            <p><i class="fa fa-angle-right"></i> 375 points birthday reward</p>
            <p><i class="fa fa-angle-right"></i> Once-off Extra $50 Coupon</p>
            <p>($100 Min.Spend)</p>
          </div>
          <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Badge3.png" class="badge-mobile">
        </div>
      </div>
	</div>
</div>
<hr>


<div class="row align-items-center justify-content-center">
  <div class="promobox px-10 promobox--text">
    <div id="faqs-block" class="promobox__content h-100 h-100-inner w-100 mx-auto">
      <div class="d-flex flex-column">
        <div class="promobox__text-3 fs-lg mt-15">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <p class="h3"><strong>FAQs</strong></p>
            </div>
            <div class="col-12 mt-20 mb-20">
              <div class="faqs border-top" data-js-accordion="all">
                  <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer open" data-js-accordion-button="">
                      <span class="mr-15">Why join the Gameology Legion?</span> 
                      <i class="faqs__cross ml-auto">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-190" viewBox="0 0 24 24">
                              <path d="M7.718 15.966a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l3.32-3.301-3.32-3.301a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176l3.301 3.32 3.301-3.32a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176.117.131.176.28.176.449a.65.65 0 0 1-.176.449l-3.32 3.301 3.32 3.301c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .846.846 0 0 1-.215-.127l-3.301-3.32-3.301 3.32a.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .813.813 0 0 1-.215-.127z"></path>
                          </svg>
                      </i>
                  </h2>
                  <div class="" data-js-accordion-content="">
                      <div class="rte pt-10 pb-30">The Gameology Legion Reward Program is our way of rewarding our loyal and valued customers for shopping with us.<br>Earn points, receive annual Birthday Rewards, gain exclusive access to sales and promos and track your purchase history all in one place! Our rewards program is based on your lifetime spend with us, where the more you’ve spent, the more you are rewarded!<br>What’s not to love?!</div>
                  </div>
              </div>
              <div class="faqs border-top" data-js-accordion="all">
                  <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer" data-js-accordion-button="">
                      <span class="mr-15">How do I join the Legion?</span> 
                      <i class="faqs__cross ml-auto">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-190" viewBox="0 0 24 24">
                              <path d="M7.718 15.966a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l3.32-3.301-3.32-3.301a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176l3.301 3.32 3.301-3.32a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176.117.131.176.28.176.449a.65.65 0 0 1-.176.449l-3.32 3.301 3.32 3.301c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .846.846 0 0 1-.215-.127l-3.301-3.32-3.301 3.32a.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .813.813 0 0 1-.215-.127z"></path>
                          </svg>
                      </i>
                  </h2>
                  <div class="d-none" data-js-accordion-content="">
                    <div class="rte pt-10 pb-30">Joining the Gameology Legion Reward Program is easy! Simply <a href="https://www.gameology.com.au/account/login" target="_blank">click here</a> to join and you’ll be sent a registration email containing instructions that will help guide you through the account activation process. </div>
                  </div>
              </div>
              <div class="faqs border-top" data-js-accordion="all">
                  <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer" data-js-accordion-button="">
                      <span class="mr-15">How do I earn points?</span> 
                      <i class="faqs__cross ml-auto">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-190" viewBox="0 0 24 24">
                              <path d="M7.718 15.966a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l3.32-3.301-3.32-3.301a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176l3.301 3.32 3.301-3.32a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176.117.131.176.28.176.449a.65.65 0 0 1-.176.449l-3.32 3.301 3.32 3.301c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .846.846 0 0 1-.215-.127l-3.301-3.32-3.301 3.32a.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .813.813 0 0 1-.215-.127z"></path>
                          </svg>
                      </i>
                  </h2>
                  <div class="d-none" data-js-accordion-content="">
                    <div class="rte pt-10 pb-30">You’ll earn Legion Reward Points for all in-store and online purchases made through your Gameology Legion Account, so don’t forget to log-in at the checkout! Depending on what Legion Tier you have reached, your ability to earn points can be doubled and even tripled each time you shop!<br>For more information on our Legion Rewards Program, check out our <a href="https://www.gameology.com.au/pages/faqs" target="_blank">FAQs</a></div>
                  </div>
              </div>
              <div class="faqs border-top" data-js-accordion="all">
                  <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer" data-js-accordion-button="">
                      <span class="mr-15">What can I redeem my points on?</span> 
                      <i class="faqs__cross ml-auto">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-190" viewBox="0 0 24 24">
                              <path d="M7.718 15.966a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l3.32-3.301-3.32-3.301a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176l3.301 3.32 3.301-3.32a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176.117.131.176.28.176.449a.65.65 0 0 1-.176.449l-3.32 3.301 3.32 3.301c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .846.846 0 0 1-.215-.127l-3.301-3.32-3.301 3.32a.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .813.813 0 0 1-.215-.127z"></path>
                          </svg>
                      </i>
                  </h2>
                  <div class="d-none" data-js-accordion-content="">
                      <div class="rte pt-10 pb-30">Anything you like! Subject to the minimum spend conditions specified upon claiming each reward. </div>
                  </div>
              </div>
              <div class="faqs border-top" data-js-accordion="all">
                  <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer" data-js-accordion-button="">
                      <span class="mr-15">How can I redeem my points?</span> 
                      <i class="faqs__cross ml-auto">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-190" viewBox="0 0 24 24">
                              <path d="M7.718 15.966a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l3.32-3.301-3.32-3.301a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176l3.301 3.32 3.301-3.32a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176.117.131.176.28.176.449a.65.65 0 0 1-.176.449l-3.32 3.301 3.32 3.301c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .846.846 0 0 1-.215-.127l-3.301-3.32-3.301 3.32a.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .813.813 0 0 1-.215-.127z"></path>
                          </svg>
                      </i>
                  </h2>
                  <div class="d-none" data-js-accordion-content="">
                    <div class="rte pt-10 pb-30">It’s easy! Simply <a href="https://www.gameology.com.au/account/login" target="_blank">log-in</a> to your Gameology Account and you should see a list of rewards available for you to claim at the top of your account summary, based on the amount of points you have earned shopping with us along the way. If would like to use your points to claim an eligible reward to use on a purchase, just hit the “Claim” button next to the reward you want to use, read the conditions carefully and click “Redeem” if your purchase meets those conditions. The discount code generated can then be copied for use at the checkout. <br><strong>Please note, rewards cannot be redeemed in conjunction with any other offer unless otherwise indicated, including additional rewards.</strong></div>
                  </div>
              </div>
              <div class="faqs border-top" data-js-accordion="all">
                  <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer" data-js-accordion-button="">
                      <span class="mr-15">Can’t find an answer to what you are looking for?</span> 
                      <i class="faqs__cross ml-auto">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-190" viewBox="0 0 24 24">
                              <path d="M7.718 15.966a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l3.32-3.301-3.32-3.301a.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176l3.301 3.32 3.301-3.32a.65.65 0 0 1 .449-.176c.169 0 .318.059.449.176.117.131.176.28.176.449a.65.65 0 0 1-.176.449l-3.32 3.301 3.32 3.301c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .846.846 0 0 1-.215-.127l-3.301-3.32-3.301 3.32a.846.846 0 0 1-.215.127.596.596 0 0 1-.468 0 .813.813 0 0 1-.215-.127z"></path>
                          </svg>
                      </i>
                  </h2>
                  <div class="d-none" data-js-accordion-content="">
                    <div class="rte pt-10 pb-30">Can’t find an answer to what you are looking for? Trouble with your account?<br>Try our <a href="https://www.gameology.com.au/pages/faqs" traget="_blank">FAQs.</a><br>If not, we would love to hear from you! Please contact us via our <a href="https://www.gameology.com.au/pages/contact-us" target="_blank">Customer Contact Form</a>.</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #faqs-block {
  	max-width: 1030px;
  }
  @media only screen and (max-width: 991px) {
    #faqs-block {
  		max-width: 350px;
  	}
  }
</style>

<style>
  	#total_spent {
  		display:none;
    }
  	.swell-VIP-tiers-container {
    	padding-top: 0px;
    	padding-bottom: 50px;
    	width: 100%;
    	display: block;
    	margin: 0 auto;
    	max-width: 1180px;
	}
  	.swell-VIP-tiers-container .titel h2 {
    	font-weight: 600;
    	background: #f2f2f2;
	}
  	.swell-VIP-tiers {
    	padding-top: 3.5rem;
    }
 	 .swell-VIP-tiers-code {
 	   width: 100%;
 	   padding: 2rem 0;
 	   margin-top: 2rem;
 	   padding-top: 0rem;
 	   justify-content: center;
 	   align-items: center;
       margin-left:0;
	}
  	.swell-VIP-tiers-container .divider:before {
	    content: "";
	    display: block;
	    border-top: solid 5px #47141d;
	    width: 85%;
	    height: 1px;
	    position: absolute;
	    top: 32px;
	    z-index: 1;
	}
    .swell-VIP-tiers-container .divider-right:before {
	    right:0;
	}
  	.swell-VIP-tiers-container .titel {
  		text-align:center;
  	}
  	.swell-VIP-tiers-container .titel h1 {
    	font-weight: 600;
	}
  
  	.swell-VIP-tiers-container .titel {
    	margin: 0 auto;
    	width: 100%;
    	display: flex;
        padding-bottom: 10px;
	}
  	.vip img{
  		height:auto;
    	width:100%;
  	}
  	.vip .badge-container {
    	background: url(https://cdn.shopify.com/s/files/1/0921/7330/files/badge-bg.png);
    	background-size: contain;
    	padding-top: 19px;
    	text-align: center;
    	background-repeat: no-repeat;
    	padding-bottom: 0;
    	padding-right: 40px;
    	min-height: 310px;
	}
  	.badge-container img {
  		max-height:75px;
      	width:auto;
  	}
  	
  	.badge-container h3 {
  		color: #fff;
    	font-weight: 600;
    	font-size: 28px;
      	margin-top:13px;
    }
  	.badge-container p {
    	color: #fff;
    	line-height: 1;
    	margin-bottom: 7px;
    	font-size: 15px;
	}
  	.badge-divider {
  		width: 120px;
    	height: 3px;
    	background: #47141d;
    	margin: auto;
    	margin-bottom: 15px;
	}
  	.badge-mobile {
  		display:none;
      	padding-top:15px;
      	padding-bottom:15px;
    }
  	@media only screen and (max-width: 991px) { 
      	.badge-mobile {
      		display:block;
        }	
      	.badge-container {
      		display:none;
        }
    	  .vip {
    		padding-left: 40px;
    		padding-right: 40px;
		}
      	.swell-VIP-tiers-code {
    		margin-left: 8px;
          	padding-top: 0px;
		}
      	.titel h2 {
    		font-size: 30px !important;
          	padding-left:20px;
          	padding-right:20px;
		}
      	 .titel h2 {
    		padding-left: 5px !important;
		}
      
    }
</style>