<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="preload">
<style>.size-container{-webkit-font-smoothing:antialiased;font-family:'Rubik',sans-serif;line-height:1.5;color:#424876;width:100%;border:0;margin:auto;border-radius:4px;height:540px}.size-container *{box-sizing:border-box}.size-container h1{font-size:30px;font-weight:500;color:#21285e;margin:0;padding-top:10px;padding-bottom:10px}.size-container p{margin:0;font-size:14px}.top-logo-container{text-align:center;width:100%;padding-top:30px}.top-logo-container img{width:170px}.zip-terms{font-size:12px!important;text-align:center;max-width:600px}.terms-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-top:10px;padding-bottom:50px}.info-snippet-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-width:200px;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-right:25px;margin-left:25px}.usp-text-container,.usp-img-container{width:100%;text-align:center}.usp-img-container img{width:38px}.footer-img-container{height:20px}.footer-img-container img{height:100%}.usp-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-top:60px;padding-bottom:80px}.flex-row-centered{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.zm-icon{margin-right:6px}.usp-text{font-size:18px;font-weight:400}.text-bold{font-weight:500}.margin-right-1{margin-right:24px}@media (max-width:530px){.usp-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:40px;padding-bottom:40px}.info-snippet-container{flex-direction:row;padding-bottom:36px;margin-left:20px;margin-right:20px;max-width:400px}.usp-text-container,.usp-img-container{width:auto;text-align:left}.usp-img-container{margin-right:12px;margin-top:18px}.usp-img-container img{width:32px}.size-container h1{font-size:30px}.size-container p{font-size:14px}.usp-icon-container{width:36px}.usp-text{font-size:14px;display:inline}.zip-terms br{display:none}}</style>

<div class="zip-widget__popup__bg"></div>
<div class="zip-widget__popup__overlay">
	<div class="size-container">
	    <div class="top-logo-container padding-top-1">
	        <img loading="lazy" src="https://zip.co/static/assets/default/modal/img/zip-logo.png" alt="zip logo">
	    </div>

	    <div class="usp-container">
	        <div class="info-snippet-container">
	            <div class="usp-img-container">
	                <img loading="lazy" src="https://zip.co/static/assets/default/modal/img/icon-heart.svg" alt="heart icon" class="zm-icon">
	            </div>
	            <div class="usp-text-container">
	                <h1>Want it</h1>
	                <div class="usp-text">Choose the items</div>
	                <div class="usp-text">you love and select</div>
	                <div class="usp-text text-bold">Zip at checkout</div>
	            </div>
	        </div>

	        <div class="info-snippet-container">
	            <div class="usp-img-container">
	                <img loading="lazy" src="https://zip.co/static/assets/default/modal/img/icon-cart.svg" alt="cart icon" class="zm-icon">
	            </div>

	            <div class="usp-text-container">
	                <h1>Get it</h1>
	                <div class="usp-text">We pay the store,</div>
	                <div class="usp-text">you get the goods,</div>
	                <div class="usp-text text-bold">nothing to pay today</div>
	            </div>
	        </div>

	        <div class="info-snippet-container">
	            <div class="usp-img-container">
	                <img loading="lazy" src="https://zip.co/static/assets/default/modal/img/icon-thumbsup.svg" alt="thumbsup icon" class="zm-icon">
	            </div>

	            <div class="usp-text-container">
	                <h1>Own it</h1>
	                <div class="usp-text">Choose how you pay</div>
	                <div class="usp-text">us back over time,</div>
	                <div class="usp-text text-bold">interest free*</div>
	            </div>
	        </div>
	    </div>

	    <div class="flex-row-centered">
	        <div class="footer-img-container margin-right-1"><img loading="lazy" src="https://zip.co/static/assets/default/modal/img/zm-logo-footer.svg" alt="zip money logo"></div>
	        <div class="footer-img-container"><img loading="lazy" src="https://zip.co/static/assets/default/modal/img/zp-logo-footer.svg" alt="zip pay logo"></div>
	    </div>

	    <div class="terms-container">
	        <p class="zip-terms">*A $6 monthly account fee applies. Pay your balance by the due date <br> (the end of next month) and we'll waive the fee. <a target="_blank" href="//zip.co/terms">See full Ts &amp; Cs</a> </p>
	    </div>
	</div>
	<img loading="lazy" class="zip-close-button" src="https://d2f9o9wxwalx4m.cloudfront.net/assets/images/delete.png">
</div>