<div class="row gift-guide-block">

   <div class="col-12 col-lg-12 p-0 pl-lg-10 pr-lg-10 d-flex justify-content-center">
    <a href="{{ section.settings.block-left-url }}"><img src="{{ section.settings.block-left-img | img_url:"master" }}"></a>
  </div>
  
 
</div>
{% schema %}
{
    "name": "Gift Guide Block 7",
    "settings": [
        {
            "type": "image_picker",
            "id": "block-left-img",
            "label": "Left Block Image (1/2 Wide)"
        },
        {
            "type": "url",
            "id": "block-left-url",
            "label": "Left Block Url"
        },
        
    ],
    "presets": [
        {
            "name": "Gift Guide Block 7"
        }
    ]
}
{% endschema %}