<style>
  #shopify-section-header {
    margin: 0 !important;
  }
  .home-builder-block-id-home-builder-2 .slick-initialized .slick-slide {
    padding: 0 !important;
  }
  .pokemon-title h2,.pokemon-title h3 {
  	font-family: "Helvetica";
  }
  .carousel__header {
    background-color: #141414;
    height: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 75px;
  }
  .carousel__title {
    background-color: #141414;
    color: white;
    letter-spacing: 0px;
    font-size: 20px;
  }
  .carousel__title.active {
    background-color: #141414;
    color: white;
    letter-spacing: 0px;
    font-size: 20px;
  }
  .carousel__footer {
    background-color: #141414;
    height: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .carousel__item .btn__text {
    font-size: 14px;
  }
  .carousel__item .product-collection__title {
    height: 84px;
  }
  .product-release-date {
    background-color: #ff414d;
    color: white;
    padding: 5px;
    margin: 5px 0;
  }
  .product-collection__title a {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .carousel__slider_wrapper {
      background-color: white;
  }
  .carousel__header__view__more {
    color: white !important;
    font-size: 20px;
  }
  .product-collection__reviews {
    display: none;
  }
  #shopify-section-carousel-products-pokemon-2 .product-collection-bottom {
    height: 75px !important;
  }
  @media only screen and (max-width: 767px) {
    .carousel__header {
      height: 100px;
      justify-content: center !important;
      flex-direction: column;
    }
    .carousel__header__view__more {
      font-size: 12px;
    }
    .carousel__slider_wrapper {
      padding: 10px !important;
    }
    .carousel__title.active {
      font-size: 20px;
    }
    .price-save_price {
      font-size: 10px !important;
    }
    .product-collection__price {
      height: 25px;
    }
    .product-collection {
      margin-bottom: 0 !important;
    }
  }
</style>
<div class="container">
  {% section 'home-builder' %}
</div>
{% section 'pokemon-background' %}
{% section 'pokemon-navigation' %}
{% section 'carousel-products-pokemon-1' %}
{% section 'carousel-products-pokemon-2' %}
{% section 'carousel-products-pokemon-3' %}
{% section 'carousel-products-pokemon-4' %}

<script>
jQuery( document ).ready(function() {
  jQuery("#pokemon-more-text-btn").on( "click", function() {
  	jQuery(document.getElementById("pokemon-text-2")).css("display","block");
    jQuery(document.getElementById("pokemon-text-3")).css("display","block");
    jQuery(document.getElementById("pokemon-more-text-btn")).addClass("d-none");
  });
});
</script>